<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Earthly Login</title>
  <th:block th:replace="parts/static::head"></th:block>
</head>
<body>
<main>
  <div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <form method="post" th:action="@{/forgot/passwords/__${userId}__}}">
          <div class="row mb-3">
            <label for="newPassword">新しいのパスワード</label>
            <div class="col-md-8 col-lg-9">
              <input type="password" id="newPassword" class="form-control">
            </div>
          </div>
          <div class="row mb-3">
            <label for="renewPassword">新しいのパスワードの再入力</label>
            <div class="col-md-8 col-lg-9">
              <input type="password" id="renewPassword" class="form-control">
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">更新</button>
          </div>
        </form>
      </div>
    </section>
  </div>
</main>
</body>
</html>