<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Earthly</title>
  <th:block th:replace="parts/static::head"></th:block>
</head>
<body class="sidebar-mini layout-fixed" style="height: auto">
<div class="app-wrapper">
  <th:block th:replace="parts/template::header"></th:block>
  <th:block th:replace="parts/template::navigation"></th:block>

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 th:text="#{page.title.company.detail}">会社詳細</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="@{/}" th:text="#{page.title.home}">Home</a></li>
              <li class="breadcrumb-item"><a th:href="@{/companies}" th:text="#{page.title.company.list}">会社リスト</a>
              </li>
              <li class="breadcrumb-item active">
                <th:block th:text="${company.name}"/>
              </li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="card card-primary card-outline">
        <div class="card-header">
          <h3 class="card-title" th:text="${company.name}">会社名</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-sm btn-primary" th:title="#{page.button.title.edit}"
                    data-target="#edit" data-toggle="modal">
              <i class="fas fa-user-edit"></i>
            </button>
            <button type="button" class="btn btn-sm btn-danger" th:title="#{page.button.title.delete}"
                    data-target="#delete" data-toggle="modal">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-lg-3 col-md-4 label" th:text="#{page.label.company.country}">所属国</div>
            <div class="col-lg-9 col-md-8">
              <th:block th:each="country : ${countryList}">
                <th:block th:if="${#strings.equals(country.id, company.countryId)}"
                          th:text="${country.getName}">所属国</th:block>
              </th:block>
            </div>
          </div>
        </div>
        <!-- /.card-footer-->
      </div>
      <!-- /.card -->
      <hr>

      <!-- 管理ユーザーリスト -->
      <div class="card card-primary card-outline">
        <div class="card-header">
          <h3 class="card-title" th:text="#{page.label.company.list.management.user}">管理ユーザーリスト</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-sm btn-primary add-management-user"
                    th:title="#{page.button.title.assign}" data-target="#assignManagementUser" data-toggle="modal">
              <i class="fas fa-edit"></i>
            </button>
            <button type="button" class="btn btn-sm btn-danger remove-management-user"
                    th:title="#{page.button.title.unassigned}">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </div>
        <div class="card-body card-default">
          <form method="get" name="searchManagementUser"
                onsubmit="return false;"
                th:action="@{/companies/__${company.id}__/managements/users}">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label th:tel="#{page.label.company.management.user.name}">ユーザー名</label>
                  <input type="text" class="form-control" name="userName"
                       th:placeholder="#{page.placeholder.company.management.user.name}">
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <button type="button" class="btn btn-primary assigned-role">
                <i class="fas fa-search"></i>
                <th:block th:text="#{page.button.search}">検索</th:block>
              </button>
            </div>
          </form>
        </div>
        <form method="post" name="roleUnassigned" onsubmit="return false;"
              th:action="@{/companies/__${company.id}__/management-users/unassigns}"
              th:if="${!#lists.isEmpty(managementUserPage.content)}">
          <div id="managementUserContent">
            <th:block th:fragment="managementUserContent">
              <div class="row">
                <div class="col-12">
                  <th:block th:replace="parts/pagination::pagination(${managementUserPage})"/>
                </div>
              </div>
              <div class="row mr-3 ml-3">
                <table class="table table-striped table-sm assign-management-user-list"
                       th:fragment="assignManagementUserList">
                  <thead>
                  <tr>
                    <th th:text="#{page.label.user.name}">ユーザー名</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="user : ${managementUserPage.content}">
                    <td>
                      <a th:href="@{/users/__${user.id}__}" th:text="${user.name}">ユーザー名</a>
                    </td>
                    <td class="text-right">
                      <input type="checkbox" class="form-check-input" name="unassigns" style="display: none"
                             th:value="${user.id}">
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="row">
                <div class="col-12">
                  <th:block th:replace="parts/pagination::pagination(${managementUserPage})"/>
                </div>
              </div>
            </th:block>
          </div>
        </form>
        <div class="card-footer  row-unassigned" style="display: none">
          <div class="row">
            <div class="col-8" th:text="#{page.panel.unassigned.message}">
              解除対象を選択してください。
            </div>
            <div class="col-4 text-right">
              <button type="button" class="btn btn-primary unassigned-management-user"
                      th:text="#{page.button.unassigned}">解除
              </button>
              <button type="button" class="btn btn-light unassigned-cancel" th:text="#{page.button.cancel}">キャンセル
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr>

      <!-- グループ -->
      <div class="card card-primary card-outline">
        <div class="card-header">
          <h3 class="card-title" th:text="#{page.label.company.list.group}">グループリスト</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-sm btn-primary" th:title="#{page.button.title.add}"
                    data-target="#addGroup" data-toggle="modal">
              <i class="fas fa-plus"></i>
            </button>
          </div>
        </div>
        <div class="card-body card-default">
          <form method="get" name="searchGroup" onsubmit="return false;"
                th:action="@{/companies/__${company.id}__/groups}">
            <div class="row">
              <div class="col-sm-4">
                <input type="text" class="form-control" name="group"
                       th:placeholder="#{page.placeholder.company.group}">
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-primary add-group" th:text="#{page.button.search}">検索</button>
              </div>
            </div>
          </form>
        </div>
        <form method="post" name="removeGroup" onsubmit="return false;"
              th:action="@{/companies/__${company.id}__/groups/removes}" th:if="${!#lists.isEmpty(groupPage.content)}">
          <div id="groupContent">
            <th:block th:fragment="groupPage">
              <th:block th:replace="parts/pagination::pagination(${groupPage})"/>
              <table class="table table-striped table-borderless assign-group-list" th:fragment="groupList">
                <thead>
                <tr>
                  <th th:text="#{page.label.company.group}">グループ名</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="group : ${groupPage.content}">
                  <td>
                    <a th:href="@{companies/__${company.id}__/groups/__${group.id}__}" th:text="${group.name}"></a>
                  </td>
                  <td class="text-end">
                    <input type="checkbox" class="form-check-input" name="groupIds" style="display: none"
                           th:value="${group.id}">
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-12">
                  <th:block th:replace="parts/pagination::pagination(${groupPage})"/>
                </div>
              </div>
            </th:block>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>

<th:block th:replace="companies/modal::edit(${company.id})"></th:block>
<th:block th:replace="companies/modal::confirm(${company.id})"></th:block>
<th:block th:replace="companies/modal::delete(${company.id})"></th:block>
<th:block th:replace="companies/modal::assignManagementUser(${company.id})"></th:block>
<th:block th:replace="companies/modal::addGroup(${company.id})"></th:block>
<th:block th:replace="parts/template::footer"></th:block>
<th:block th:replace="parts/static::bottom"></th:block>
<script th:src="@{/js/client.js}"></script>
<script th:src="@{/js/detail.js}"></script>
<th:block th:if="${success}">
  <div th:replace="parts/toast::success('page.toast.success.update')"></div>
</th:block>
<th:block th:if="${message}">
  <div th:replace="parts/toast::danger(${message}, ${messageArgs})"></div>
</th:block>
<script type="text/javascript" th:inline="javascript">
</script>
<script th:inline="javascript" th:if="${editModal}">
    $(function () {
        $('#edit').modal('show')
    });
</script>
<script th:inline="javascript" th:if="${readOnly}">
    $(function () {
        $('#confirm').modal('show')
    });
    $('#confirm').on('hidden.bs.modal', function (e) {
        cancel();
    });
</script>
</body>
</html>