<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title th:text="#{page.header.title}">Earthly</title>
  <th:block th:replace="parts/static::head"></th:block>
</head>
<body class="sidebar-mini layout-fixed" style="height: auto">
<div class="app-wrapper">
  <th:block th:replace="parts/template::header"></th:block>
  <th:block th:replace="parts/template::navigation"></th:block>

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 th:text="#{page.title.company.list}">会社リスト</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="@{/}" th:text="#{page.title.home}">Home</a></li>
              <li class="breadcrumb-item active" th:text="#{page.title.company.list}">会社リスト</li>
            </ol>
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-1 text-right">
            <div class="btn-group">
              <a class="btn btn-primary rounded-pill m-1" data-bs-toggle="tooltip" data-placement="top"
                 th:title="#{page.tooltip.entry}" th:href="@{/companies/entries}">
                <i class="fas fa-user-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <form method="get" th:action="@{/companies}" th:object="${companySearchForm}">
        <div class="card">
          <div class="card-body">
            <h5 th:text="#{page.panel.title.search}">検索条件</h5>
            <div class="row m-1">
              <div class="col-12">
                <label for="name" style="margin-bottom: .1rem" th:text="#{page.label.company.name}">会社名</label>
                <input type="text" class="form-control" id="name" th:field="*{name}">
              </div>
            </div>
            <div class="row justify-content-center">
              <button type="submit" class="btn btn-primary mt-2">
                <i class="fas fa-search"></i>
                <th:block th:text="#{page.button.search}">検索</th:block>
              </button>
            </div>
          </div>
        </div>
        <hr>
        <div class="card">
          <div class="card-body">
            <th:block th:if="${!#lists.isEmpty(pageImpl.content)}">
              <th:block th:replace="parts/pagination::pagination(${pageImpl})"/>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th th:text="#{page.label.company.name}">会社名</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="company : ${pageImpl.content}">
                  <td>
                    <a th:href="@{/companies/__${company.id}__}" th:text="${company.name}">会社名</a>
                  </td>
                </tr>
                </tbody>
              </table>
              <th:block th:include="parts/pagination::pagination(${pageImpl})"/>
            </th:block>
            <th:block th:if="${#lists.isEmpty(pageImpl.content)}">
              <div class="pt-4 d-flex flex-column align-items-center" style="height: 45vh;">
                <div>検索対象が存在しません。</div>
                <img alt="empty" height="100" th:src="@{/img/inbox.png}" width="100">
              </div>
            </th:block>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>
</body>
<th:block th:replace="parts/template::footer"></th:block>
<th:block th:replace="parts/static::bottom"></th:block>
</html>