<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 会社登録確認 -->
<div class="modal" id="entry" tabindex="-1" th:fragment="entry">
  <div class="modal-dialog modal-dialog-centered modal-lg entry-confirm-modal">
    <div class="modal-content">
      <form method="post" th:action="@{/companies/create}" th:object="${companyEntryForm}">
        <div class="modal-header">
          <h5 class="modal-title" th:text="#{page.modal.title.company.confirm.entry}">会社登録確認</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <div class="row mb-3">
              <label class="col-sm-3 col-form-label" for="name" th:text="#{page.label.company.name}">会社名</label>
              <div class="col-sm-9">
                <th:block th:text="*{name}"></th:block>
              </div>
              <input type="hidden" class="form-control" th:field="*{name}">
            </div>
            <div class="row mb-3">
              <label class="col-sm-3 col-form-label" for="country"
                     th:text="#{page.label.company.country}">所属国</label>
              <input type="hidden" class="form-control" th:field="*{country}">
              <div class="col-sm-9">
                <th:block th:each="country : ${countryList}">
                  <th:block th:if="${#strings.equals(country.id, companyEntryForm.country)}"
                            th:text="${country.getName}"></th:block>
                </th:block>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-3 col-form-label" for="firstLoginId"
                     th:text="#{page.label.company.first.user.loginId}">初期ログインID</label>
              <div class="col-sm-9">
                <th:block th:text="*{firstLoginId}"></th:block>
              </div>
              <input type="hidden" class="form-control" th:field="*{firstLoginId}">
            </div>
            <div class="row mb-3">
              <label class="col-sm-3 col-form-label" for="name"
                     th:text="#{page.label.company.first.user.name}">初期ユーザー名</label>
              <div class="col-sm-9">
                <th:block th:text="*{firstUserName}"></th:block>
              </div>
              <input type="hidden" class="form-control" th:field="*{firstUserName}">
            </div>
            <div class="row mb-3">
              <label class="col-sm-3 col-form-label" for="gender" th:text="#{page.label.user.gender}">
                性別
              </label>
              <div class="col-sm-9">
                <th:block th:switch="*{gender}">
                  <th:block th:case="M">男性</th:block>
                  <th:block th:case="F">女性</th:block>
                  <th:block th:case=*>その他</th:block>
                </th:block>
                <input type="hidden" name="gender" class="form-control" th:value="*{gender}">
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-3 col-form-label" for="language" th:text="#{page.label.user.language}">
                言語
              </label>
              <div class="col-lg-9">
                <th:block th:with="lang=${#strings.equals(companyEntryForm.language, 'ja')?'日本語':'英語'}"
                          th:text="${lang}">言語
                </th:block>
                <input type="hidden" name="language" class="form-control" th:value="*{language}">
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-3 col-form-label" for="mail" th:text="#{page.label.user.timezone}">
                タイムゾーン
              </label>
              <div class="col-sm-9">
                <th:block th:text="*{timezone}">タイムゾーン</th:block>
                <input type="hidden" name="timezone" class="form-control" th:value="*{timezone}">
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-3 col-form-label" for="mail" th:text="#{page.label.user.mail}">
                メールアドレス
              </label>
              <div class="col-sm-9">
                <th:block th:text="*{mail}">メールアドレス</th:block>
                <input type="hidden" name="mail" class="form-control" th:value="*{mail}">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary entry-cancel" data-dismiss="modal"
                  th:text="#{page.button.cancel}">キャンセル
          </button>
          <button type="submit" class="btn btn-primary" th:text="#{page.button.create}">登録</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- 登録キャンセル -->
<div th:fragment="cancel" class="modal" id="cancel">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="fas fa-exclamation-triangle"></i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" th:text="#{page.modal.entry.cancel}">
        登録をキャンセルしますか？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{page.button.back}">Cancel
        </button>
        <a type="button" class="btn btn-primary" th:href="@{/companies}" th:text="#{page.button.ok}">OK</a>
      </div>
    </div>
  </div>
</div>

<!-- 会社編集 -->
<div class="modal" id="edit" tabindex="-1" th:fragment="edit(id)">
  <div class="modal-dialog modal-dialog-centered modal-lg edit-modal">
    <div class="modal-content">
      <form method="post" th:action="@{/companies/__${id}__/edit}" th:object="${companyEditForm}">
        <div class="modal-header">
          <h5 class="modal-title" th:text="#{page.modal.title.company.edit}">会社編集</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body edit">
          <div class="row mb-3">
            <div class="col-3" th:text="#{page.label.company.name}">会社名</div>
            <div class="col-9">
              <input type="text" class="form-control" id="name"
                     th:classappend="${#fields.hasErrors('name')}?'is-invalid'"
                     th:field="*{name}" oninput="activeSubmitButton()">
              <div class="invalid-feedback" th:errors="*{name}" th:if="${#fields.hasErrors('name')}">
                会社名は必須です。
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-3" th:text="#{page.label.company.country}">所属国</div>
            <div class="col-9">
              <select class="form-control" id="country" name="country"
                      th:classappend="${#fields.hasErrors('country')}?'is-invalid'" onchange="activeSubmitButton()">
                <option th:each="country : ${countryList}" th:text="${country.getName}" th:value="${country.getId}"
                        th:selected="${country.getId == companyEditForm.country}">国名
                </option>
              </select>
              <div class="invalid-feedback" th:errors="*{country}" th:if="${#fields.hasErrors('country')}">
                所属国は必須です。
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary entry-cancel" data-dismiss="modal"
                  th:text="#{page.button.cancel}">キャンセル
          </button>
          <button type="submit" class="btn btn-primary" th:text="#{page.button.confirm}">確認</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- 会社編集確認 -->
<div class="modal" id="confirm" tabindex="-1" th:fragment="confirm(id)">
  <div class="modal-dialog modal-dialog-centered modal-lg entry-confirm-modal">
    <div class="modal-content">
      <form method="post" th:action="@{/companies/__${id}__/update}" th:object="${companyEditForm}">
        <div class="modal-header">
          <h5 class="modal-title" th:text="#{page.modal.title.company.confirm.edit}">会社編集確認</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row mb-3">
            <label class="col-sm-3 col-form-label" for="name" th:text="#{page.label.company.name}">会社名</label>
            <div class="col-sm-9">
              <input type="hidden" class="form-control" name="name" th:value="*{name}">
              <th:block th:text="*{name}"></th:block>
            </div>
          </div>
          <div class="row mb-3">
              <label class="col-sm-3 form-label" for="country" th:text="#{page.label.company.country}">所属国</label>
            <div class="col-sm-9">
              <input type="hidden" class="form-control" name="country" th:value="*{country}">
              <th:block th:each="country : ${countryList}">
                <th:block th:if="${#strings.equals(country.id, companyEditForm.country)}"
                          th:text="${country.getName}"></th:block>
              </th:block>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary entry-cancel" data-dismiss="modal"
                  th:text="#{page.button.cancel}">キャンセル
          </button>
          <button type="submit" class="btn btn-primary" th:text="#{page.button.update}">更新</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- 会社削除 -->
<div class="modal" id="delete" tabindex="-1" th:fragment="delete(id)">
  <div class="modal-dialog modal-dialog-centered modal-lg delete-modal">
    <div class="modal-content">
      <form method="post" th:action="@{/companies/__${id}__/delete}">
        <div class="modal-header">
          <h5 class="modal-title" th:text="#{page.modal.title.company.delete}">会社削除</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>削除しますか?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{page.button.cancel}">
            キャンセル
          </button>
          <button type="submit" class="btn btn-primary" th:text="#{page.button.delete}">削除</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- 管理ユーザー割り当て -->
<div th:fragment="assignManagementUser(id)" class="modal" id="assignManagementUser" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" th:text="#{page.modal.title.user.search}">ユーザー検索</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="get" name="searchUnassignedManagementUser" onsubmit="return false;"
              th:action="@{/companies/__${id}__/management-users/not-assigns}">
          <div class="card">
            <div class="card-header">
              <div class="card-title" th:tel="#{page.modal.title.search}">検索条件</div>
            </div>
            <div class="card-body">
              <div class="row m-1">
                <div class="col-6">
                  <label th:text="#{page.label.user.loginId}" style="margin-bottom: .1rem">ログインID</label>
                  <input type="text" class="form-control form-control-sm" name="loginId">
                </div>
                <div class="col-6">
                  <label th:text="#{page.label.user.name}" style="margin-bottom: .1rem">ユーザー名</label>
                  <input type="text" class="form-control form-control-sm" name="name">
                </div>
              </div>
              <div class="row m-1">
                <div class="col-6">
                  <label th:text="#{page.label.user.company}" style="margin-bottom: .1rem">所属会社</label>
                  <input type="text" class="form-control form-control-sm" name="companyName">
                </div>
              </div>
              <div class="row text-center">
                <div class="col-12">
                  <button class="btn btn-primary search-unassigned-management-user" type="button">
                    <i class="fas fa-search"></i>
                    <th:block th:text="#{page.button.search}">検索</th:block>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <form name="assignManagementUser" method="post" th:action="@{/companies/__${id}__/management-users/assigns}">
          <div id="unassignedManagementUser">
            <th:block th:fragment="unassignedManagementUserPage">
              <th:block th:if="${!unassignedManagementUserPage.isEmpty()}">
                <th:block th:replace="parts/pagination::pagination(${unassignedManagementUserPage})"/>
                <table class="table table-sm table-striped">
                  <thead>
                  <tr>
                    <th th:text="#{page.label.user.loginId}">ログインID</th>
                    <th th:text="#{page.label.user.name}">ユーザー名</th>
                    <th th:tel="#{page.label.user.company}">所属会社</th>
                    <th>&nbsp;</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="managementUser:${unassignedManagementUserPage.content}">
                    <td th:text="${managementUser.loginId}">
                        ログインID
                    </td>
                    <td>
                      <a th:href="@{/users/__${managementUser.id}__}" th:text="${managementUser.name}">
                        ユーザー名
                      </a>
                    </td>
                    <td>
                      <a th:href="@{/companies/__${managementUser.company.id}__}" th:text="${managementUser.company.name}">
                        所属会社
                      </a>
                    </td>
                    <td class="text-right">
                      <input type="checkbox" class="form-check-input assign-management-user" name="userId"
                             th:value="${managementUser.id}" onclick="activeManagementUserAssignButton()" >
                    </td>
                  </tr>
                  </tbody>
                </table>
                <th:block th:replace="parts/pagination::pagination(${unassignedManagementUserPage})"/>
              </th:block>
            </th:block>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary cancel" data-dismiss="modal">キャンセル</button>
        <button type="button" class="btn btn-primary assign-management-user" disabled="disabled">割り当て</button>
      </div>
    </div>
  </div>
</div>

<!-- グループ追加 -->
<div th:fragment="addGroup(id)" class="modal" id="addGroup" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header" th:text="#{page.modal.title.company.group.add}">
        グループ追加
      </div>
      <form method="post" name="addGroup" th:action="@{/companies/__${id}__/groups/entries}"
            th:object="${companyGroupEntryForm}">
        <div class="modal-body">
          <div class="row m-1">
            <div class="col-12">
              <label for="groupName" th:text="#{page.label.user.group.name}">グループ名</label>
              <input type="text" class="form-control" th:field="*{groupName}" oninput="activeSubmitButton()">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary cancel-group" data-dismiss="modal" th:text="#{page.button.cancel}">
            キャンセル
          </button>
          <button type="submit" class="btn btn-primary group-add" th:text="#{page.button.add}" disabled>追加
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

</html>