<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <title>Earthly</title>
  <th:block th:replace="parts/static::head"></th:block>
</head>
<body>
<th:block th:replace="parts/template::header"></th:block>
<th:block th:replace="parts/template::navigation"></th:block>
<main id="main" class="main">
  <div class="pagetitle">
    <div class="col-9">
      <h1 th:text="#{page.title.user.entry}">ユーザー追加</h1>
    </div>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a th:href="@{/}">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a th:href="@{/users}" th:text="#{page.title.user.list}">ユーザーリスト</a>
        </li>
        <li class="breadcrumb-item active" th:text="#{page.title.user.entry}">
          ユーザー追加
        </li>
      </ol>
    </nav>
  </div>
  <div class="container">
    <div class="alert alert-danger alert-dismissible fade show" th:if="${errorCode}">
      <i class="bi bi-exclamation-octagon me-1"></i>
      <th:block th:text="${#messages.msgOrNullWithParams(errorCode.messageKey, messageArgs)}"></th:block>
    </div>
    <form method="post" th:action="@{/users/__${action}__}" th:object="${userEntryForm}"
          th:with="action=${readOnly}? 'create' : 'entry'">
      <div class="card-body">
        <div class="row">
          <div class="col-6 has-validation">
            <label class="form-label" for="loginId" th:text="#{page.label.user.loginId}">ログインID</label>
            <input class="form-control" id="loginId" th:classappend="${#fields.hasErrors('loginId')}?'is-invalid'" th:field="*{loginId}"
                   th:readonly="${readOnly}" type="text">
            <div class="invalid-feedback" th:errors="*{loginId}" th:if="${#fields.hasErrors('loginId')}">
              ログインIDは必須です。
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label class="form-label" for="name" th:text="#{page.label.user.name}">ユーザー名</label>
            <input class="form-control" id="name" th:classappend="${#fields.hasErrors('name')}?'is-invalid'" th:field="*{name}"
                   th:readonly="${readOnly}" type="text">
            <div class="invalid-feedback" th:errors="*{name}" th:if="${#fields.hasErrors('name')}">
              ユーザー名は必須です。
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label class="form-label" for="gender" th:text="#{page.label.user.gender}">性別</label>
            <select class="form-select" id="gender" name="gender"
                    th:classappend="${#fields.hasErrors('gender')}?'is-invalid'"
                    th:styleappend="${readOnly}?'pointer-events: none;'" th:with="g=*{gender}">
              <option></option>
              <option th:each="genderEnum : ${T(jp.co.project.planets.earthly.schema.emuns.GenderEnum).values()}"
                      th:selected="${#strings.equals(genderEnum.value, g)}" th:text="${genderEnum.name()}"
                      th:value="${genderEnum.value}">M
              </option>
            </select>
            <div class="invalid-feedback" th:errors="*{gender}" th:if="${#fields.hasErrors('gender')}">
              性別は必須です。
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label class="form-label" for="language" th:text="#{page.label.user.language}"></label>
            <select class="form-select" id="language" name="language"
                    th:classappend="${#fields.hasErrors('language')}?'is-invalid'">
              <option></option>
              <option th:selected="${#strings.equals('ja', userEntryForm.language)}" th:text="#{page.select.language.japanese}"
                      value="ja"></option>
              <option th:selected="${#strings.equals('en', userEntryForm.language)}" th:text="#{page.select.language.english}"
                      value="en"></option>
            </select>
            <div class="invalid-feedback" th:errors="*{language}" th:if="${#fields.hasErrors('language')}">
              言語は必須です。
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label class="form-label" for="timezone" th:text="#{page.label.user.timezone}"></label>
            <select class="form-select" id="timezone" name="timezone"
                    th:classappend="${#fields.hasErrors('timezone')}?'is-invalid'">
              <option></option>
              <option th:each="t: ${timezone}" th:selected="${#strings.equals(t.id, userEntryForm.timezone)}" th:text="${t.id}"
                      th:value="${t.id}"></option>
            </select>
            <div class="invalid-feedback" th:errors="*{timezone}" th:if="${#fields.hasErrors('timezone')}">
              タイムゾーンは必須です。
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label class="form-label" for="mail" th:text="#{page.label.user.mail}">メールアドレス</label>
            <input class="form-control" id="mail" th:classappend="${#fields.hasErrors('mail')}?'is-invalid'" th:field="*{mail}"
                   th:readonly="${readOnly}" type="text">
            <div class="invalid-feedback" th:errors="*{mail}" th:if="${#fields.hasErrors('mail')}">
              メールアドレスは必須です。
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label class="form-label" for="companyName" th:text="#{page.label.user.company}">所属会社</label>
            <input autocomplete="on" class="form-control dropdown-toggle" id="companyName"
                   list="companyDataList"
                   th:classappend="${#fields.hasErrors('company')}?'is-invalid'" th:field="*{companyName}"
                   th:readonly="${readOnly}" type="text">
            <input th:field="*{company}" th:readonly="${readOnly}" type="hidden">
            <datalist id="companyDataList"></datalist>
            <div class="invalid-feedback" th:errors="*{company}" th:if="${#fields.hasErrors('company')}">
              所属会社は必須です。
            </div>
          </div>
        </div>
      </div>
      <div class="row text-center" th:unless="${readOnly}">
        <div class="col-6">
          <button class="btn btn-secondary rounded-pill" data-bs-target="#cancelModal" data-bs-toggle="modal"
                  th:text="#{page.button.back}" type="button">戻る
          </button>
          <div th:replace="users/entry/modal::cancel"></div>
          <button class="btn btn-primary rounded-pill" th:text="#{page.button.confirm}" type="submit">確認
          </button>
        </div>
      </div>
      <div class="row text-center" th:if="${readOnly}">
        <div class="col-6">
          <button class="btn btn-secondary rounded-pill" data-bs-target="#cancelModal" data-bs-toggle="modal"
                  th:text="#{page.button.back}" type="button">戻る
          </button>
          <div th:replace="users/entry/modal::cancel"></div>
          <button class="btn btn-primary rounded-pill" th:text="#{page.button.create}" type="submit">登録
          </button>
        </div>
      </div>
    </form>
  </div>
</main>
<th:block th:replace="parts/template::footer"></th:block>
<th:block th:replace="parts/static::bottom"></th:block>
<script th:src="@{/js/client.js}"></script>
<script type="text/javascript" th:inline="javascript">
    const url = /*[[@{'/api/suggests/companies'}]]*/'';
    let param = {keyword: this.value};
    let deferred = doGet(url, param);

    deferred.done(function (data) {
        $('#companyDataList > option').remove();
        $.each(data.components, function (index, item) {
            let option = $('<option />');
            option.val(item.name);
            option.html(item.id);
            $('#companyDataList').append(option);
        });
    });
    deferred.fail(function (data) {
        console.error(data)
    });

    $('#companyName').on('input', function () {
        let id = $("#companyDataList option[value='" + $(this).val() + "']").text();
        $('#company').val(id);

    });
    $('#companyName').on('change', function () {
        let id = $("#companyDataList option[value='" + this.value + "']").text();
        $('#company').val(id);
    });
    $('form button:submit').on('click', function () {
        let id = $("#companyDataList option[value='" + $('#companyName').val() + "']").text();
        $('#company').val(id);
    });
</script>
</body>
</html>