<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="pagination">
  <div class="float-end">
    <ul class="pagination">
      <li class="page-item">
        <button class="page-link" aria-label="Previous" name="offset" value="0">
          <span aria-hidden="true">&lt;&lt;</span>
        </button>
      </li>
      <li class="page-item">
        <button class="page-link" name="offset" value="1">1</button>
      </li>
      <li class="page-item">
        <button class="page-link" name="offset" value="2">2</button>
      </li>
      <li class="page-item">
        <button class="page-link" name="offset" value="3">3</button>
      </li>
      <li class="page-item">
        <button class="page-link" aria-label="Next" name="offset" value="4">
          <span aria-hidden="true">&gt;&gt;</span>
        </button>
      </li>
    </ul>
  </div>
</th:block>

</html>