<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="header" id="header" class="main-header navbar navbar-expand navbar-white navbar-light">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
  </ul>

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <!-- Navbar Search -->
    <li class="nav-item">
      <a class="nav-link" data-widget="navbar-search" href="#" role="button">
        <i class="fas fa-search"></i>
      </a>
      <div class="navbar-search-block">
        <form class="form-inline">
          <div class="input-group input-group-sm">
            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
              <button class="btn btn-navbar" type="submit">
                <i class="fas fa-search"></i>
              </button>
              <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </li>

    <!-- Notifications Dropdown Menu -->
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="far fa-bell"></i>
        <span class="badge badge-warning navbar-badge">15</span>
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <span class="dropdown-item dropdown-header">15 Notifications</span>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
          <i class="fas fa-envelope mr-2"></i> 4 new messages
          <span class="float-right text-muted text-sm">3 mins</span>
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
          <i class="fas fa-users mr-2"></i> 8 friend requests
          <span class="float-right text-muted text-sm">12 hours</span>
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
          <i class="fas fa-file mr-2"></i> 3 new reports
          <span class="float-right text-muted text-sm">2 days</span>
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#" th:text="${#authentication.getPrincipal().account.name}">
        user name
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" th:href="@{/users/__${#authentication.getPrincipal().account.id}__}">
          <i class="fas fa-user mr-2"></i> マイページ
        </a>
        <div class="dropdown-divider"></div>
        <form method="post" th:action="@{/logout}">
          <button class="dropdown-item d-flex align-items-center">
            <i class="fas fa-sign-out-alt mr-2"></i>
            <span>ログアウト</span>
          </button>
        </form>
      </div>
    </li>

  </ul>
</nav><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:fragment="navigation" id="sidebar" class="main-sidebar sidebar-dark-primary elevation-4">

  <!-- Brand Logo -->
  <a th:href="@{/}" class="brand-link">
    <img th:src="@{/img/earth.png}" alt="Earthly" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Earthly</span>
  </a>

  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a th:href="@{/users}" class="nav-link">
            <i class="nav-icon fas fa-user"></i>
            <p>
              ユーザー管理
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a th:href="@{/companies}" class="nav-link">
            <i class="nav-icon fas fa-building"></i>
            <p>
              会社管理
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a th:href="@{/clients}" class="nav-link">
            <i class="nav-icon fas fa-robot"></i>
            <p>
              クライアント管理
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a th:href="@{/roles}" class="nav-link">
            <i class="nav-icon fas fa-toolbox"></i>
            <p>
              ロール管理
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-cogs"></i>
            <p>
              システム管理
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a th:href="@{/permissions}" class="nav-link">
                <i class="fas fa-cog nav-icon"></i>
                <p>パーミッション管理</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/notices}" class="nav-link">
                <i class="fas fa-comment-alt nav-icon"></i>
                <p>お知らせ管理</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside><!-- End Sidebar-->


<!-- ======= Footer ======= -->
<footer th:fragment="footer" id="footer" class="main-footer">
  <div class="float-right d-none d-sm-block">
    Ver. <th:block th:text="${@environment.getProperty('earthly.version')}"></th:block>
  </div>
  &copy; Copyright <strong><span>Planets System</span></strong>. All Rights Reserved
</footer><!-- End Footer -->

</html>