<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="select(value)">
  <select id="timezone" name="timezone" class="form-select"
          th:classappend="${#fields.hasErrors('timezone')}?'is-invalid'" th:data-before="${value}"
          th:disabled="${readOnly}">
    <option th:if="${!#strings.isEmpty(value)}"></option>
    <option th:each="t: ${timezone}" th:selected="${#strings.equals(t.id, value)}" th:text="${t.id}"
            th:value="${t.id}"></option>
  </select>
</th:block>

<div class="modal" id="changeTimezone" tabindex="-1" th:fragment="modal">
  <div class="modal-dialog modal-dialog-centered modal-lg timezone-modal">
    <div class="modal-content">
      <form method="post" th:action="@{/users/__${#authentication.getPrincipal().account.id}__/change-timezones}">
        <input type="hidden" name="pathname" value=""/>
        <div class="modal-header">
          <h5 class="modal-title">タイムゾーン変更</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <select class="form-control" name="timezone">
            <option></option>
            <option th:each="tz: ${timezone}" th:text="${tz.id}" th:value="${tz.id}"></option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{page.button.cancel}">
            キャンセル
          </button>
          <button type="submit" class="btn btn-primary timezone" th:text="#{page.button.update}">更新</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script th:fragment="script" th:inline="javascript">
    $('#changeTimezone').on('show.bs.modal', ()=>{
        doGet(/*[[@{/api/users/__${#authentication.getPrincipal().account.id}__/timezones}]]*/'').done((data, response, status) => {
            $('select[name=timezone] option').each((i, el) => {
                if (el.value === data.timezone) {
                    $('select[name=timezone]').prop('selectedIndex', i);
                }
            });
        });
    });
</script>
</html>