<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Earthly</title>
  <th:block th:replace="parts/static::head"></th:block>
</head>
<body class="modal-open">
<th:block th:replace="parts/template::header"></th:block>
<th:block th:replace="parts/template::navigation"></th:block>
<main id="main" class="main">
  <div class="pagetitle">
    <div class="row">
      <div class="col-9">
        <h1 th:text="#{page.title.user.detail}">ユーザー詳細</h1>
      </div>
      <div class="col-3">
        <div class="text-end">
          <div class="btn-group">
            <div data-bs-toggle="tooltip" data-bs-placement="top" th:title="#{page.tooltip.edit}">
              <button class="btn btn-info rounded-pill m-1 edit">
                <i class="bx bx-edit"></i>
              </button>
            </div>
            <div data-bs-toggle="tooltip" data-bs-placement="top"
                 th:if="${!#strings.equals(#authentication.principal.id, userDetailDto.userEntity.id)}">
              <button class="btn btn-info rounded-pill m-1" th:title="#{page.tooltip.delete}"
                      data-bs-toggle="modal" data-bs-target="#deleteModal">
                <i class="bx bx-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a th:href="@{/}">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a th:href="@{/users}">ユーザーリスト</a>
        </li>
        <li class="breadcrumb-item active">
          <th:block th:text="${userDetailDto.userEntity.name}"/>
        </li>
      </ol>
    </nav>
  </div>
  <section class="section profile">
    <div class="card detail" th:styleappend="${!#bools.isFalse(editMode)} ? 'display: none'">
      <div class="card-body">
        <div class="card-title" th:text="${userDetailDto.userEntity.loginId}">login id</div>
        <div class="profile-overview">
          <div class="row">
            <div class="col-lg-3 col-md-4 label" th:text="#{page.label.user.name}">ユーザー名</div>
            <div class="col-lg-9 col-md-8">
              <th:block th:text="${userDetailDto.userEntity.name}">name</th:block>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-4 label" th:text="#{page.label.user.mail}">メールアドレス</div>
            <div class="col-lg-9 col-md-8">
              <th:block th:text="${userDetailDto.userEntity.mail}">mail</th:block>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-4 label" th:text="#{page.label.user.gender}">性別</div>
            <div class="col-lg-9 col-md-8">
              <th:block
                  th:text="${T(jp.co.project.planets.earthly.emuns.GenderEnum).of(userDetailDto.userEntity.gender).name}">
                M
              </th:block>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-4 label" th:text="#{page.label.user.language}">言語</div>
            <div class="col-lg-9 col-md-8">
              <th:block th:if="${#strings.equals(userDetailDto.userEntity.language, 'ja')}"
                        th:text="#{page.select.language.japanese}">日本語
              </th:block>
              <th:block th:if="${#strings.equals(userDetailDto.userEntity.language, 'en')}"
                        th:text="#{page.select.language.english}">
                英語
              </th:block>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-4 label" th:text="#{page.label.user.timezone}">タイムゾーン</div>
            <div class="col-lg-9 col-md-8">
              <th:block th:text="${userDetailDto.userEntity.timezone}">Asia/Tokyo</th:block>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-4 label" th:text="#{page.label.user.company}">会社</div>
            <div class="col-lg-9 col-md-8">
              <th:block th:text="${userDetailDto.userEntity.company.name}">company</th:block>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-4 label" th:text="#{page.label.user.lockout}">ロックアウト</div>
            <div class="col-lg-9 col-md-8">
              <i class="bx" th:classappend="${userDetailDto.userEntity.lockout} ? 'bx-lock' : 'bx-lock-open'"></i>
              <th:block th:text="${userDetailDto.userEntity.lockout} ?'ON':'OFF'">ON</th:block>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-4 label" th:text="#{page.label.user.2fa}">2要素認証</div>
            <div class="col-lg-9 col-md-8">
              <th:block th:if="${userDetailDto.userEntity.is2fa}">
                <img th:src="${userDetailDto.qrcode}" alt="QR" height="200" width="200">
              </th:block>
              <th:block th:unless="${userDetailDto.userEntity.is2fa}">
                無効
              </th:block>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card edit" th:styleappend="${!#bools.isTrue(editMode)} ? 'display: none'">
      <form method="post" th:with="action=${readOnly}? 'update' : 'edit'"
            th:action="@{/users/__${userDetailDto.userEntity.id}__/__${action}__}" th:object="${userUpdateForm}">
        <div class="card-body">
          <div class="card-title" th:text="${userDetailDto.userEntity.loginId}">login id</div>
          <div class="profile-overview">
            <div class="row">
              <div class="col-lg-3 col-md-4 label" th:text="#{page.label.user.name}">ユーザー名</div>
              <div class="col-lg-9 col-md-8">
                <input type="text" class="form-control" th:data-before="${userDetailDto.userEntity.name}"
                       th:classappend="${#fields.hasErrors('name')}?'is-invalid'" th:disabled="${readOnly}"
                       th:field="*{name}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                  ユーザー名は必須です。
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-4 label" th:text="#{page.label.user.mail}">メールアドレス</div>
              <div class="col-lg-9 col-md-8">
                <input type="email" class="form-control" th:data-before="${userDetailDto.userEntity.mail}"
                       th:classappend="${#fields.hasErrors('mail')}?'is-invalid'" th:disabled="${readOnly}"
                       th:field="*{mail}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}">
                  メールアドレスは必須です。
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-4 label" th:text="#{page.label.user.gender}">性別</div>
              <div class="col-lg-9 col-md-8">
                <th:block
                    th:text="${T(jp.co.project.planets.earthly.emuns.GenderEnum).of(userDetailDto.userEntity.gender).name}">
                  M
                </th:block>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-4 label" th:text="#{page.label.user.language}">言語</div>
              <div class="col-lg-9 col-md-8">
                <th:block th:replace="parts/language::select(*{language})"/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('language')}" th:errors="*{language}">
                  言語は必須です。
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-4 label" th:text="#{page.label.user.timezone}">タイムゾーン</div>
              <div class="col-lg-9 col-md-8">
                <th:block th:replace="parts/timezone::select(*{timezone})"/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('timezone')}" th:errors="*{timezone}">
                  タイムゾーンは必須です。
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-4 label" th:text="#{page.label.user.company}">会社</div>
              <div class="col-lg-9 col-md-8">
                <input type="text" class="form-control" th:data-before="${userDetailDto.userEntity.company.name}"
                       th:classappend="${#fields.hasErrors('company')}?'is-invalid'" th:disabled="${readOnly}"
                       autocomplete="on" list="companyDataList" th:field="*{company}">
                <input type="hidden" th:data-before="${userDetailDto.userEntity.company.id()}" th:disabled="${readOnly}"
                       th:field="*{companyId}">
                <datalist id="companyDataList"></datalist>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('company')}" th:errors="*{company}">
                  所属会社は必須です。
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-4 label" th:text="#{page.label.user.lockout}">ロックアウト</div>
              <div class="col-lg-9 col-md-8">
                <div class="form-check form-switch"
                     th:unless="${#strings.equals(userDetailDto.userEntity.id, #authentication.getPrincipal().id)}">
                  <input type="checkbox" class="form-check-input" th:data-before="${userDetailDto.userEntity.lockout}"
                         th:classappend="${#fields.hasErrors('lockout')}?'is-invalid'" id="lockout"
                         th:field="*{lockout}" th:disabled="${readOnly}">
                  <label for="lockout">do you lockout ?</label>
                </div>
                <th:block th:if="${#strings.equals(userDetailDto.userEntity.id, #authentication.getPrincipal().id)}">
                  <i class="bx" th:classappend="${userDetailDto.userEntity.lockout} ? 'bx-lock' : 'bx-lock-open'"></i>
                  <th:block th:text="${userDetailDto.userEntity.lockout} ?'ON':'OFF'">ON</th:block>
                </th:block>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-4 label" th:text="#{page.label.user.2fa}">2要素認証</div>
              <div class="col-lg-9 col-md-8">
                <div class="form-check form-switch">
                  <input type="checkbox" class="form-check-input" th:data-before="${userDetailDto.userEntity.is2fa}"
                         th:classappend="${#fields.hasErrors('is2fa')}?'is-invalid'" id="is2fa"
                         th:field="*{is2fa}" th:disabled="${readOnly}">
                  <label for="is2fa">enable 2fa ?</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 text-end">
                <button type="button" class="btn btn-secondary" onclick="cancel()">Cancel</button>
                <button type="submit" class="btn btn-primary confirm" th:disabled="${readOnly}"
                        th:styleappend="${readOnly}?'display:none'">確認
                </button>
                <button type="submit" class="btn btn-primary update" th:disabled="${#bools.isFalse(readOnly)}"
                        th:styleappend="${#bools.isFalse(readOnly)}?'display:none'">更新
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <hr>
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <div class="row">
            <div class="col-8">
              <th:block th:text="#{page.label.user.role.list}">保持ロールリスト</th:block>
            </div>
            <div class="col-4 text-end">
              <button class="btn btn-info rounded-pill m-1 assign-role" data-bs-target="#assignRoleModal"
                      data-bs-toggle="modal">
                <i class="bx bx-add-to-queue"></i>
              </button>
              <button class="btn btn-info rounded-pill m-1">
                <i class="bx bx-edit"></i>
              </button>
            </div>
          </div>
        </div>
        <table class="table table-striped table-borderless">
          <thead>
          <tr>
            <th th:text="#{page.label.user.role.name}">ロール名</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="role : ${userDetailDto.userEntity.roleList}">
            <td>
              <a th:href="@{/roles/__${role.id}__}" th:text="${role.name}">ロール名</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <hr>
    <div class="card">
      <div class="card-body">
        <div class="card-title" th:text="#{page.label.user.management.company.list}">管理会社リスト</div>
        <div class="row-cols-auto text-center"
             th:if="${#lists.isEmpty(userDetailDto.userEntity.managementCompanyList)}">
          <img th:src="@{/img/inbox.png}" height="100" width="100" alt="empty">
        </div>
        <table class="table table-striped table-borderless"
               th:unless="${#lists.isEmpty(userDetailDto.userEntity.managementCompanyList)}">
          <thead>
          <tr>
            <th th:text="#{page.label.user.management.company.name}">会社名</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="company : ${userDetailDto.userEntity.managementCompanyList}">
            <td>
              <a th:href="@{/companies/__${company.id}__}" th:text="${company.name}">会社名</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <div th:replace="users/delete::modal(${userDetailDto.userEntity.id})"></div>
  <div th:replace="users/assign::roleModal(${userDetailDto.userEntity.id})"></div>
</main>
<th:block th:replace="parts/template::footer"></th:block>
<th:block th:replace="parts/static::bottom"></th:block>
<script th:src="@{/js/client.js}"></script>
<script type="text/javascript" th:inline="javascript">
    let param = {keyword: this.value};
    let deferred = doGet(/*[[@{'/api/suggests/companies'}]]*/'', param);

    deferred.done(function (data) {
        $('#companyDataList > option').remove();
        $.each(data.components, function (index, item) {
            let option = $('<option />');
            option.val(item.name);
            option.html(item.id);
            $('#companyDataList').append(option);
        });
    });
    deferred.fail(function (data) {
        console.error(data)
    });

    $('#company').on('input', function () {
        let id = $("#companyDataList option[value='" + $(this).val() + "']").text();
        $('#companyId').val(id);
    });
    $('#company').on('change', function () {
        let id = $("#companyDataList option[value='" + this.value + "']").text();
        $('#companyId').val(id);
    });

    $('button.edit').on('click', function () {
        $('div.card.detail').hide();
        $('div.card.edit').show();
    });
    $('button.update').on('click', function () {
        let id = $("#companyDataList option[value='" + $('#company').val() + "']").text();
        $('#companyId').val(id);
        $('div.card.edit').find('input').prop('disabled', false);
        $('div.card.edit').find('select').prop('disabled', false);
    });

    function cancel() {
        $('.confirm button').disabled = false;
        $('.update').disabled = true;

        $('.edit > form').find('input').each((i, e) => {
            let v = e.dataset.before;
            if (v === undefined) {
                return true;
            }
            if (e.type === 'checkbox') {
                e.checked = JSON.parse(v);
                e.disabled = false;
            } else {
                e.value = v;
                e.disabled = false;
            }
        });
        $('.edit > form').find('select').each((i, e) => {
            let before = e.dataset.before;
            if (before === undefined) {
                return true;
            }
            Array.from(e.options).forEach(opt => {
                if (opt.value === before) {
                    opt.selected = true;
                    return true;
                }
            });
            e.disabled = false;
        });
        $('div.card.detail').show();
        $('div.card.edit').hide();
    }

    $('.on-search').on('click', function () {
        searchRole();
    });
    $('.assign-role').on('click', function () {
        searchRole();
    });

    $('.cancel').on('click', function () {
        $('input[name=assign]').prop("checked", false);
    })

    $('.role.assign').on('click', function () {
        const form = $('form[name=assignRole]');
        let body = form.serialize();
        let url = form.attr('action');
        let deferred = doFormPost(url, body);
        deferred.done(function (data, response) {
            $('form[name=roleSearch]').prepend(data);
            searchRole();
        });
        deferred.fail(function (data, response) {
            console.error(data);
            window.location.href = "/earthly/error";
        });
    })

    function searchRole() {
        const form = $('form[name=roleSearch]');
        let body = form.serialize();
        let url = form.attr('action');
        let deferred = doGet(url, body);
        deferred.done(function (data, response) {
            if (0 < data.indexOf('html')) {
                window.location.href = "/earthly";
                return;
            }
            $('.card.role-list').html(data)
        });
        deferred.fail(function (data, response) {
            console.error(data);
            window.location.href = "/earthly/error";
        });
    }
</script>
</body>
</html>