<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Earthly</title>
  <th:block th:replace="parts/static::head"></th:block>
</head>
<body class="sidebar-mini layout-fixed" style="height: auto">
<div class="app-wrapper">
  <th:block th:replace="parts/template::header"></th:block>
  <th:block th:replace="parts/template::navigation"></th:block>

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 th:text="#{page.title.user.detail}">ユーザー詳細</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="@{/}" th:text="#{page.title.home}">Home</a></li>
              <li class="breadcrumb-item"><a th:href="@{/users}" th:text="#{page.title.user.list}">ユーザーリスト</a></li>
              <li class="breadcrumb-item active">
                <th:block th:text="${userDetailDto.user.name}"/>
              </li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card card-primary card-outline">
        <div class="card-header">
          <h3 class="card-title" th:text="${userDetailDto.user.loginId}">ログインID</h3>
          <div class="card-tools">
            <span data-toggle="tooltip" data-placement="top" th:title="#{page.button.title.password.edit}">
              <button type="button" class="btn btn-sm btn-primary" data-target="#password" data-toggle="modal">
                <i class="fas fa-key"></i>
              </button>
            </span>
            <button type="button" class="btn btn-sm btn-primary" th:title="#{page.button.title.edit}"
                    data-target="#edit" data-toggle="modal">
              <i class="fas fa-user-edit"></i>
            </button>
            <th:block th:if="${!#strings.equals(#authentication.principal.account.id, userDetailDto.user.id)}">
              <button type="button" class="btn btn-sm btn-danger" th:title="#{page.button.title.delete}"
                      data-target="#delete" data-toggle="modal">
                  <i class="fas fa-trash-alt"></i>
              </button>
            </th:block>
          </div>
        </div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-lg-3 col-md-4 label" th:text="#{page.label.user.name}">ユーザー名</div>
            <div class="col-lg-9 col-md-8">
              <th:block th:text="${userDetailDto.user.name}">name</th:block>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-3 col-md-4 label" th:text="#{page.label.user.mail}">メールアドレス</div>
            <div class="col-lg-9 col-md-8">
              <th:block th:text="${userDetailDto.user.mail}">mail</th:block>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-3 col-md-4 label" th:text="#{page.label.user.gender}">性別</div>
            <div class="col-lg-9 col-md-8">
              <th:block
                  th:text="${T(jp.co.project.planets.earthly.schema.emuns.Gender).of(userDetailDto.user.gender).name}">
                M
              </th:block>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-3 col-md-4 label" th:text="#{page.label.user.language}">言語</div>
            <div class="col-lg-9 col-md-8">
              <th:block th:if="${#strings.equals(userDetailDto.user.language, 'ja')}"
                        th:text="#{page.select.language.japanese}">日本語
              </th:block>
              <th:block th:if="${#strings.equals(userDetailDto.user.language, 'en')}"
                        th:text="#{page.select.language.english}">
                英語
              </th:block>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-3 col-md-4 label" th:text="#{page.label.user.timezone}">タイムゾーン</div>
            <div class="col-lg-9 col-md-8">
              <th:block th:text="${userDetailDto.user.timezone}">Asia/Tokyo</th:block>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-3 col-md-4 label" th:text="#{page.label.user.company}">会社</div>
            <div class="col-lg-9 col-md-8">
              <th:block th:text="${userDetailDto.user.company.name}">company</th:block>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-3 col-md-4 label" th:text="#{page.label.user.lockout}">ロックアウト</div>
            <div class="col-lg-9 col-md-8">
              <i class="bx" th:classappend="${userDetailDto.user.lockout} ? 'bx-lock' : 'bx-lock-open'"></i>
              <th:block th:text="${userDetailDto.user.lockout} ?'ON':'OFF'">ON</th:block>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-3 col-md-4 label" th:text="#{page.label.user.mfa}">2要素認証</div>
            <div class="col-lg-9 col-md-8">
              <th:block th:if="${userDetailDto.user.twoFactorAuthentication}">
                <img th:src="${userDetailDto.qrcode}" alt="QR" height="200" width="200">
              </th:block>
              <th:block th:unless="${userDetailDto.user.twoFactorAuthentication}">
                無効
              </th:block>
            </div>
          </div>
        </div>
        <!-- /.card-footer-->
      </div>
      <!-- /.card -->
      <hr>
      <div class="card card-primary card-outline">
        <div class="card-header">
          <h3 class="card-title" th:text="#{page.label.user.role.list}">保持ロールリスト</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-sm btn-primary add-role" th:title="#{page.button.title.assign}"
                    data-target="#assignRole" data-toggle="modal">
              <i class="fas fa-edit"></i>
            </button>
            <button type="button" class="btn btn-sm btn-danger remove-role" th:title="#{page.button.title.unassigned}">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </div>
        <div class="card-body card-default">
          <form method="get" name="searchAssignRole" onsubmit="return false;"
                th:action="@{/users/__${userDetailDto.user.id}__/roles/assigns}">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label th:text="#{page.label.role.name}"
                         style="margin-bottom: .1rem">ログインID</label>
                  <input type="text" class="form-control" name="roleName"
                         th:placeholder="#{page.placeholder.role.name}">
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <button type="button" class="btn btn-primary search-assign-role">
                <i class="fas fa-search"></i>
                <th:block th:text="#{page.button.search}">検索</th:block>
              </button>
            </div>
          </form>
        </div>
        <form method="post" name="removeRole" onsubmit="return false;"
              th:action="@{/users/__${userDetailDto.user.id}__/roles/unassigns}"
              th:if="${!#lists.isEmpty(rolePage.content)}">
          <div class="card-body card-default">
            <div id="assignRoleContent">
              <th:block th:fragment="roleContent">
                <th:block th:replace="parts/pagination::pagination(${rolePage})"/>
                <table class="table table-striped table-sm" th:fragment="assignRoleList">
                  <thead>
                  <tr>
                    <th th:text="#{page.label.user.role.name}">ロール名</th>
                    <th>&nbsp;</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="role : ${rolePage.content}">
                    <td>
                      <a th:href="@{/roles/__${role.id}__}" th:text="${role.name}">ロール名</a>
                    </td>
                    <td class="text-right">
                      <input type="checkbox" class="form-check-input remove-role" name="roleId" th:value="${role.id}"
                             th:styleappend="${#bools.isFalse(userRoleSearchForm.isRemoveMode)}?'display: none'"
                              onchange="activeRemoveButton()">
                    </td>
                  </tr>
                  </tbody>
                </table>
                <th:block th:replace="parts/pagination::pagination(${rolePage})"/>
              </th:block>
            </div>
          </div>
          <div class="card-footer row-unassigned" style="display: none">
            <div class="row">
              <div class="col-8" th:text="#{page.panel.unassigned.message}">
                解除対象を選択してください。
              </div>
              <div class="col-4 text-right">
                <button  type="button" class="btn btn-primary remove-role" th:text="#{page.button.unassigned}">解除
                </button>
                <button  type="button" class="btn btn-light btn-outline-dark remove-role-cancel"
                         th:text="#{page.button.cancel}">キャンセル
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <hr>
      <div class="card card-primary card-outline">
        <div class="card-header">
          <h3 class="card-title" th:text="#{page.label.user.management.company.list}">管理会社リスト</h3>
        </div>
        <div class="card-body card-default">

           <div class="row-cols-auto text-center" th:if="${#lists.isEmpty(managementCompanyPage.content)}">
           <img th:src="@{/img/inbox.png}" height="100" width="100" alt="empty">
          </div>


        <table class="table table-striped table-borderless"
               th:unless="${#lists.isEmpty(managementCompanyPage.content)}">
          <thead>
          <tr>
            <th th:text="#{page.label.user.management.company.name}">会社名</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="company : ${managementCompanyPage.content}">
            <td>
              <a th:href="@{/companies/__${company.id}__}" th:text="${company.name}">会社名</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <div th:replace="users/modal::edit(${userDetailDto.user}, ${userUpdateForm})"></div>
  <div th:if="${readOnly}" th:replace="users/modal::confirm(${userDetailDto.user.id}, ${userUpdateForm})"></div>
  <div th:replace="users/modal::password(${userDetailDto.user.id})"></div>
  <div th:replace="users/modal::delete(${userDetailDto.user.id})"></div>
  <div th:replace="users/modal::roleModal(${userDetailDto.user.id})"></div>
</div>
</div>
</body>

<th:block th:replace="parts/template::footer"></th:block>
<th:block th:replace="parts/static::bottom"></th:block>
<script th:src="@{/js/client.js}"></script>
<script th:src="@{/js/detail.js}"></script>
<script th:replace="parts/badge::notice"></script>
<script type="text/javascript" th:inline="javascript">
  let param = {keyword: value};
  let deferred = doGet(/*[[@{'/api/badges/companies'}]]*/'', param);

  deferred.done(function (data) {
      $('#companyDataList > option').remove();
      $.each(data.components, function (index, item) {
          let option = $('<option />');
          option.val(item.name);
          option.attr('id', item.id);
          $('#companyDataList').append(option);
      });
  });
  deferred.fail(function (data) {
      console.error(data)
  });

  $('#edit').on('hidden.bs.modal', function (e) {
     cancel();
  });
  $('#company').on('input', function () {
      let id = $("#companyDataList option[value='" + $(this).val() + "']").attr('id');
      $('#companyId').val(id);
  }).on('change', function () {
      let id = $("#companyDataList option[value='" + this.value + "']").attr('id');
      $('#companyId').val(id);
  });

  $('button.update').on('click', function () {
      let id = $("#companyDataList option[value='" + $('#company').val() + "']").attr('id');
      $('#companyId').val(id);
  });

  $('.search-assign-role').on('click', () => postSearch('searchAssignRole', 'assignRoleContent'));
  $('.search-unassign-role').on('click', () => postSearch('searchUnassignRole', 'unassignRoleContent'));

  $('.remove-role').on('click', () => {
      showRemoveCard('roleId', 'removeRole');
  });

  $('.remove-role-cancel').on('click', () => {
      hideRemoveCard('roleId', 'removeRole');
  });
  $('.btn.btn-primary.remove-role').on('click', () => {
      const form = $('form[name=removeRole]');
      const body = form.serialize();
      const url = form.attr('action');
      const token = form.find('input[name=_csrf]').val();
      let deferred = doPost(url, "application/x-www-form-urlencoded", token, body);
      deferred.done(function (data, response) {
          $("body").append(data);
          const searchForm = $('form[name=searchAssignRole]');
          searchForm.find('input').each((i, e) => {
              e.disabled = false;
          });
          $('.search-assign-role').trigger('click');
          searchForm.find('input').each((i, e) => {
              e.disabled = true;
          });
      })
  });

  $('.btn.btn-primary.assign-role').on('click', () => {
      const form = $('form[name=assignRole]');
      const body = form.serialize();
      const url = form.attr('action');
      const token = form.find('input[name=_csrf]').val();
      let deferred = doPost(url, "application/x-www-form-urlencoded", token, body);
      deferred.done(function (data, response) {
          $("body").append(data);
          $('.search-unassign-role').trigger('click');
          $('.search-assign-role').trigger('click');
          $('.btn.assign-role').prop('disabled', true);
      });
      deferred.fail(function (data, response) {
          console.error(data);
          window.location.href = "/earthly/error";
      });
  });
  $("#assignRole").on('show.bs.modal', function (e) {
      $('.btn.btn-primary.assign-role').prop('disabled', true);
      $('.search-unassign-role').trigger('click');
  });

  function activeAssignButton() {
      $('.btn.btn-primary.assign-role').prop('disabled', true);
      $('input[name=assign].assign-role').each((i, e) => {
          if (e.checked) {
              $('.btn.btn-primary.assign-role').prop('disabled', false);
          }
      });
  }

  function activeRemoveButton() {
    $('.btn.btn-primary.remove-role').prop('disabled', true);
    $('input[name=roleId].remove-role').each((i, e) => {
        if (e.checked) {
            $('.btn.btn-primary.remove-role').prop('disabled', false);
        }
    });
  }
</script>
<script th:inline="javascript" th:if="${editModal}">
  $(function () {
      $('#edit').modal('show')
  });
</script>
<script th:inline="javascript" th:if="${readOnly}">
  $(function () {
      $('#confirm').modal('show')
  });
  $('#confirm').on('hidden.bs.modal', function (e) {
      cancel();
  });
</script>
</html>