<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Earthly</title>
  <th:block th:replace="parts/static::head"></th:block>
</head>
<body>
<th:block th:replace="parts/template::header"></th:block>
<th:block th:replace="parts/template::navigation"></th:block>
<main id="main" class="main">
  <div class="pagetitle">
    <div class="row">
      <div class="col-9">
        <h1 th:text="#{page.title.user.list}">ユーザーリスト</h1>
      </div>
      <div class="col-3">
        <div class="text-end">
          <div class="btn-group">
            <a class="btn btn-primary rounded-pill m-1" data-bs-toggle="tooltip"
               data-bs-placement="top"
               th:title="#{page.tooltip.entry}" th:href="@{/users/entry}">
              <i class="ri-user-add-line"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a th:href="@{/}">Home</a>
        </li>
        <li class="breadcrumb-item active">
          ユーザーリスト
        </li>
      </ol>
    </nav>
  </div>

  <form method="get" th:action="@{/users}">
    <div class="card">
      <div class="card-body">
        <divv class="card-title">検索条件</divv>
        <div class="row m-1">
          <div class="col-6">
            <label for="loginId">ログインID</label>
            <input type="text" id="loginId" name="loginId" class="form-control" th:value="${userSearchForm.loginId}">
          </div>
          <div class="col-6">
            <label for="name">ユーザー名</label>
            <input type="text" id="name" name="name" class="form-control" th:value="${userSearchForm.name}">
          </div>
        </div>
        <div class="row m-1">
          <div class="col-6">
            <label for="company">所属会社</label>
            <input type="text" id="company" name="company" class="form-control" th:value="${userSearchForm.company}">
          </div>
        </div>
        <div class="row text-center m-1">
          <div class="col-12">
            <button type="submit" class="btn btn-primary rounded-pill">
              <i class="ri-search-2-line"></i>
              検索
            </button>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="card">
      <div class="card-body">
        <th:block th:if="${!#lists.isEmpty(userSearchResultDto.userSimpleEntityList)}">
          <th:block th:include="parts/pagination::pagination"/>
          <table class="table table-striped">
            <thead>
            <tr>
              <th>ログインID</th>
              <th>ユーザー名</th>
              <th>所属会社</th>
              <th>ロックアウト</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${userSearchResultDto.userSimpleEntityList}">
              <td>
                <a th:href="@{/users/__${user.id}__}" th:text="${user.loginId}">SampleID01</a>
              </td>
              <td th:text="${user.name}">SampleName01</td>
              <td>
                <a th:href="@{/companies/__${user.companyId}__}" th:text="${user.companyName}">SampleCompany01</a>
              </td>
              <td>
                <i class="bx " th:classappend="${#bools.isTrue(user.lockout)} ? 'bx-lock' : 'bx-lock-open'"></i>
              </td>
            </tr>
            </tbody>
          </table>
          <th:block th:include="parts/pagination::pagination"/>
        </th:block>
        <th:block th:if="${#lists.isEmpty(userSearchResultDto.userSimpleEntityList)}">
          <img src="">
        </th:block>
      </div>
    </div>
  </form>
</main>
<th:block th:replace="parts/template::footer"></th:block>
<th:block th:replace="parts/static::bottom"></th:block>
</body>
</html>