<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <!-- デフォルト設定読み込み -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <property name="format"
              value="%d{yyyy/MM/dd'T'HH:mm:ss.SSSZ} %-5level [%thread] request:[%X{request}] - %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${format}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <charset>UTF-8</charset>
            <pattern>${format}</pattern>
        </encoder>
        <file>apl.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>apl.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>${LOG_FILE_MAX_SIZE:-10MB}</maxFileSize>
            <maxHistory>${LOG_FILE_MAX_HISTORY:-0}</maxHistory>
        </rollingPolicy>
    </appender>

    <springProfile name="local,test">
        <root level="debug">
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

    <springProfile name="dev,tst,prd">
        <root level="debug">
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

</configuration>