<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title th:text="#{page.header.title}">Earthly</title>
  <th:block th:replace="parts/static::head"></th:block>
</head>
<body class="sidebar-mini layout-fixed" style="height: auto">
<div class="app-wrapper">
  <th:block th:replace="parts/template::header"></th:block>
  <th:block th:replace="parts/template::navigation"></th:block>

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 th:text="#{page.title.notice.list}">お知らせリスト</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="@{/}" th:text="#{page.title.home}">Home</a></li>
              <li class="breadcrumb-item active" th:text="#{page.title.notice.list}">お知らせリスト</li>
            </ol>
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-1 text-right">
            <div class="btn-group">
              <a class="btn btn-primary btn-sm m-1" data-bs-toggle="tooltip" data-placement="top"
                 th:title="#{page.tooltip.entry}" th:href="@{/systems/notices/entries}">
                <i class="fas fa-user-plus"></i>
              </a>
            </div>
          </div>
        </div>

      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <form method="get" th:action="@{/systems/notices}" th:object="${noticeSearchForm}">
        <div class="card">
          <div class="card-body">
            <h5 th:text="#{page.panel.title.search}">検索条件</h5>
            <div class="row m-1">
              <div class="col-4">
                <label for="title" style="margin-bottom: .1rem" th:text="#{page.label.notice.title}">件名</label>
                <input type="text" class="form-control" th:field="*{title}">
              </div>
              <div class="col-4">
                <div class="form-group date" id="startAtDatetimepicker" data-target-input="nearest">
                  <label style="margin-bottom: .1rem" th:text="#{page.label.notice.date.start}">掲載開始日</label>
                  <input type="text"  class="form-control datetimepicker-input" data-target="#startAtDatetimepicker"
                        data-toggle="datetimepicker" th:field="*{startAt}">
                </div>
              </div>
              <div class="col-4">
                <div class="form-group date" id="endAtDatetimepicker" data-target-input="nearest">
                  <label style="margin-bottom: .1rem" th:text="#{page.label.notice.date.end}">掲載終了日</label>
                  <input type="text" class="form-control datetimepicker-input" data-target="#endAtDatetimepicker"
                         data-toggle="datetimepicker" th:field="*{endAt}">
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <button type="submit" class="btn btn-primary mt-2">
                <i class="fas fa-search"></i>
                <th:block th:text="#{page.button.search}">検索</th:block>
              </button>
            </div>
          </div>
        </div>
        <hr>
        <div class="card">
          <div class="card-body">
            <th:block th:if="${!#lists.isEmpty(pageImpl.content)}">
              <th:block th:replace="parts/pagination::pagination(${pageImpl})"/>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th th:text="#{page.label.notice.title}">件名</th>
                  <th th:text="#{page.label.notice.date.start}">掲載開始日</th>
                  <th th:text="#{page.label.notice.date.end}">掲載終了日</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="notice : ${pageImpl.content}">
                  <td>
                    <a th:href="@{/systems/notices/__${notice.id}__}" th:text="${notice.title}">件名</a>
                  </td>
                  <td th:text="${notice.startAt}">掲載開始日</td>
                  <td>
                    <th:block th:if="${!#strings.isEmpty(notice.endAt)}" th:text="${notice.endAt}">掲載終了日</th:block>
                  </td>
                </tr>
                </tbody>
              </table>
              <th:block th:include="parts/pagination::pagination(${pageImpl})"/>
            </th:block>
            <th:block th:if="${#lists.isEmpty(pageImpl.content)}">
              <div class="pt-4 d-flex flex-column align-items-center" style="height: 45vh;">
                <div>検索対象が存在しません。</div>
                <img alt="empty" height="100" th:src="@{/img/inbox.png}" width="100">
              </div>
            </th:block>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>
</body>
<th:block th:replace="parts/template::footer"></th:block>
<th:block th:replace="parts/static::bottom"></th:block>
<th:block th:if="${success}">
  <div th:replace="parts/toast::success(${success})"></div>
</th:block>
<script>
  $(()=>{
      $('#startAtDatetimepicker').datetimepicker({
         format: 'YYYY/MM/DD HH:mm:ss',
         locale: 'ja',
         dayViewHeaderFormat: 'YYYY年 MM月',
         showClose: true,
         sideBySide: true
      });
      $('#endAtDatetimepicker').datetimepicker({
          format: 'YYYY/MM/DD HH:mm:ss',
          locale: 'ja',
          dayViewHeaderFormat: 'YYYY年 MM月',
          showClose: true,
          sideBySide: true
      });

  })
</script>
</html>