<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Earthly</title>
  <th:block th:replace="parts/static::head"></th:block>
</head>
<body class="modal-open">
<th:block th:replace="parts/template::header"></th:block>
<th:block th:replace="parts/template::navigation"></th:block>
<main id="main" class="main">
  <div class="pagetitle">
    <div class="row">
      <div class="col-9">
        <h1 th:text="#{page.title.client.detail}">OAuthクライアント詳細</h1>
      </div>
      <div class="col-3">
        <div class="text-end">
          <div class="btn-group">
            <div data-bs-toggle="tooltip" data-bs-placement="top" th:title="#{page.tooltip.edit}">
              <button class="btn btn-info rounded-pill m-1 edit">
                <i class="bx bx-edit"></i>
              </button>
            </div>
            <div data-bs-toggle="tooltip" data-bs-placement="top">
              <button class="btn btn-info rounded-pill m-1" th:title="#{page.tooltip.delete}"
                      data-bs-toggle="modal" data-bs-target="#deleteModal">
                <i class="bx bx-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a th:href="@{/}">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a th:href="@{/clients}" th:text="#{page.title.client.list}">OAuthクライアントリスト</a>
        </li>
        <li class="breadcrumb-item active">
          <th:block th:text="${OAuthClientDetailEntity.name}">OAuthクライアント名</th:block>
        </li>
      </ol>
    </nav>
  </div>
  <section class="section profile">
    <div class="card detail" th:styleappend="${!#bools.isFalse(editMode)} ? 'display: none'">
      <div class="card-body">
        <div class="card-title" th:text="${OAuthClientDetailEntity.name}">OAuthクライアント名</div>
        <div class="profile-overview">
          <div class="row">
            <div class="col-lg-3 col-md-4 label" th:text="#{page.label.client.name}">クライアント名</div>
            <div class="col-lg-9 col-md-8">
              <th:block th:text="${OAuthClientDetailEntity.name}">name</th:block>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-4 label" th:text="#{page.label.client.grantType}">付与タイプ</div>
            <div class="col-lg-9 col-md-8">
              <th:block th:each="grantType:${OAuthClientDetailEntity.grantTypes}">
                <th:block th:if="${grantTypeStat.first}" th:text="${grantType.type}"></th:block>
                <th:block th:unless="${grantTypeStat.first}">
                  &nbsp;<th:block th:text="${grantType.type}"></th:block>
                </th:block>
              </th:block>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-4 label" th:text="#{page.label.client.scope}">スコープ</div>
            <div class="col-lg-9 col-md-8">
              <th:block th:each="scope:${T(jp.co.project.planets.earthly.schema.emuns.Scope).values()}">
                <th:block th:if="${#lists.contains(OAuthClientDetailEntity.scopes(), scope.id)}"
                          th:text="${#strings.append(scope.name, ' ')}"></th:block>
              </th:block>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-4 label" th:text="#{page.label.client.id}">クライアントID</div>
            <div class="col-lg-9 col-md-8">
              <th:block th:text="${OAuthClientDetailEntity.clientId}">client ID</th:block>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-4 label" th:text="#{page.label.client.secret}">シークレット</div>
            <div class="col-lg-9 col-md-8">
              <th:block th:text="${OAuthClientDetailEntity.secret}">シークレット</th:block>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--/* 編集 */-->
    <div class="card edit" th:styleappend="${#bools.isFalse(editMode)} ? 'display: none'">
      <form method="post" th:with="action=${readOnly}? 'update' : 'edit'"
            th:action="@{/clients/__${OAuthClientDetailEntity.id}__/__${action}__}"
            th:object="${OAuthClientEditForm}">
        <div class="card-body">
          <div class="card-title" th:text="${OAuthClientDetailEntity.name}">OAuthクライアント名</div>
          <div class="profile-overview">
            <div class="row">
              <div class="col-lg-3 col-md-4 label" th:text="#{page.label.client.name}">クライアント名</div>
              <div class="col-lg-9 col-md-8">
                <input type="text" class="form-control" th:data-before="${OAuthClientDetailEntity.name}"
                       th:classappend="${#fields.hasErrors('name')}?'is-invalid'" th:disabled="${readOnly}"
                       th:field="*{name}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                  クライアント名は必須です。
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-4 label" th:text="#{page.label.client.grantType}">付与タイプ</div>
              <div class="col-lg-9 col-md-8">
                <th:block th:each="grantType:${OAuthClientDetailEntity.grantTypes}">
                  <th:block th:if="${grantTypeStat.first}" th:text="${grantType.type}"></th:block>
                  <th:block th:unless="${grantTypeStat.first}">
                    &nbsp;<th:block th:text="${grantType.type}"></th:block>
                  </th:block>
                </th:block>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-4 label" th:text="#{page.label.client.scope}">スコープ</div>
              <div class="col-lg-9 col-md-8">
                <select class="form-select" id="scope" multiple="multiple" name="scope"
                        th:classappend="${#fields.hasErrors('scope')}?'is-invalid'"
                        th:readonly="${readOnly}" th:data-before="${#strings.listJoin(OAuthClientDetailEntity.scopes, ',')}">
                  <option th:each="scopeEnum : ${T(jp.co.project.planets.earthly.schema.emuns.Scope).values()}"
                          th:text="${scopeEnum.name()}" th:value="${scopeEnum.id}"
                          th:selected="${#lists.contains(OAuthClientEditForm.scope, scopeEnum.id)}">
                  </option>
                </select>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('scope')}" th:errors="*{scope}">
                  スコープは必須です。
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-4 label" th:text="#{page.label.client.id}">クライアントID</div>
              <div class="col-lg-9 col-md-8">
                <th:block th:text="${OAuthClientDetailEntity.clientId}">client ID</th:block>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-4 label" th:text="#{page.label.client.secret}">シークレット</div>
              <div class="col-lg-9 col-md-8">
                <th:block th:text="${OAuthClientDetailEntity.secret}">シークレット</th:block>
              </div>
            </div>
            <div class="row">
              <div class="col-12 text-end">
                <button type="button" class="btn btn-secondary" onclick="cancel()">Cancel</button>
                <button type="submit" class="btn btn-primary confirm" th:disabled="${readOnly}"
                        th:styleappend="${readOnly}?'display:none'">確認
                </button>
                <button type="submit" class="btn btn-primary update" th:disabled="${#bools.isFalse(readOnly)}"
                        th:styleappend="${#bools.isFalse(readOnly)}?'display:none'">更新
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <hr>
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <div class="row">
            <div class="col-8">
              <th:block th:text="#{page.label.client.list.redirect.url}">リダイレクトURLリスト</th:block>
            </div>
            <div class="col-4 text-end">
              <button class="btn btn-info rounded-pill m-1 add-redirect-url" data-bs-target="#addRedirectUrlModal"
                      data-bs-toggle="modal">
                <i class="bx bx-add-to-queue"></i>
              </button>
              <button class="btn btn-info rounded-pill m-1 remove-redirect-url">
                <i class="bx bx-edit"></i>
              </button>
            </div>
          </div>
          <form method="get" name="searchAssignedRole"
                onsubmit="return false;"
                th:action="@{/clients/__${OAuthClientDetailEntity.id}__/redirectUrls}">
            <div class="row">
              <div class="col-sm-4">
                <input type="text" class="form-control" name="redirectUrl" placeholder="リダイレクトURL"
                       th:placeholder="#{page.placeholder.client.redirect.url}">
              </div>
              <div class="col-sm-2">
                <button class="btn btn-primary assigned-role" type="button">検索</button>
              </div>
            </div>
          </form>
        </div>
        <form method="post" name="removeRedirectUrl" onsubmit="return false;"
              th:action="@{/clients/__${OAuthClientDetailEntity.id}__/redirectUrls/removes}"
              th:if="${!#lists.isEmpty(redirectUrlPage.content)}">
          <div id="redirectUrlContent">
            <th:block th:fragment="redirectUrlPage">
              <th:block th:replace="parts/pagination::pagination(${redirectUrlPage})"/>
              <table class="table table-striped table-borderless assign-role-list" th:fragment="addRedirectUrlList">
                <thead>
                <tr>
                  <th th:text="#{page.label.client.redirect.url}">リダイレクトURL</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="redirectUrl : ${redirectUrlPage.content}">
                  <td th:text="${redirectUrl.redirectUrl}">
                  </td>
                  <td class="text-end">
                    <input class="form-check-input" name="redirectUrlIds" style="display: none"
                           th:value="${redirectUrl.id}"
                           type="checkbox">
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-12">
                  <th:block th:replace="parts/pagination::pagination(${redirectUrlPage})"/>
                </div>
              </div>
            </th:block>
          </div>
          <div class="row row-unassigned" style="display: none">
            <div class="col-8">
              削除対象を選択してください。
            </div>
            <div class="col-4 text-end">
              <button class="btn btn-primary unassigned-role" th:text="#{page.button.delete}" type="button">削除
              </button>
              <button class="btn btn-light unassigned-cancel" th:text="#{page.button.cancel}" type="button">キャンセル
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <hr>
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <div class="row">
            <div class="col-8">
              <th:block th:text="#{page.label.client.list.logout.url}">ログアウトリダイレクトURLリスト</th:block>
            </div>
            <div class="col-4 text-end">
              <button class="btn btn-info rounded-pill m-1 add-logout-redirect-url"
                      data-bs-target="#addLogoutRedirectUrlModal" data-bs-toggle="modal">
                <i class="bx bx-add-to-queue"></i>
              </button>
              <button class="btn btn-info rounded-pill m-1 remove-redirect-url">
                <i class="bx bx-edit"></i>
              </button>
            </div>
          </div>
          <form method="get" name="searchAssignedRole"
                onsubmit="return false;"
                th:action="@{/clients/__${OAuthClientDetailEntity.id}__/logouts/redirectUrls}">
            <div class="row">
              <div class="col-sm-4">
                <input type="text" class="form-control" name="redirectUrl" placeholder="リダイレクトURL"
                       th:placeholder="#{page.placeholder.client.redirect.url}">
              </div>
              <div class="col-sm-2">
                <button class="btn btn-primary assigned-role" type="button">検索</button>
              </div>
            </div>
          </form>
        </div>
        <form method="post" name="removeRedirectUrl" onsubmit="return false;"
              th:action="@{/clients/__${OAuthClientDetailEntity.id}__/logouts/redirectUrls/removes}"
              th:if="${!#lists.isEmpty(logoutRedirectUrlPage.content)}">
          <div id="logoutRedirectUrlContent">
            <th:block th:fragment="logoutRedirectUrlPage">
              <th:block th:replace="parts/pagination::pagination(${logoutRedirectUrlPage})"/>
              <table class="table table-striped table-borderless assign-role-list"
                     th:fragment="addLogoutRedirectUrlList">
                <thead>
                <tr>
                  <th th:text="#{page.label.client.redirect.url}">リダイレクトURL</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="redirectUrl : ${logoutRedirectUrlPage.content}">
                  <td th:text="${redirectUrl.redirectUrl}">
                  </td>
                  <td class="text-end">
                    <input class="form-check-input" name="redirectUrlIds" style="display: none"
                           th:value="${redirectUrl.id}"
                           type="checkbox">
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-12">
                  <th:block th:replace="parts/pagination::pagination(${logoutRedirectUrlPage})"/>
                </div>
              </div>
            </th:block>
          </div>
          <div class="row row-unassigned" style="display: none">
            <div class="col-8">
              削除対象を選択してください。
            </div>
            <div class="col-4 text-end">
              <button class="btn btn-primary unassigned-role" th:text="#{page.button.delete}" type="button">削除
              </button>
              <button class="btn btn-light unassigned-cancel" th:text="#{page.button.cancel}" type="button">キャンセル
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <hr>
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <div class="row">
            <div class="col-8">
              <th:block th:text="#{page.label.client.list.management.user}">管理ユーザーリスト</th:block>
            </div>
            <div class="col-4 text-end">
              <button class="btn btn-info rounded-pill m-1 add-management-user"
                      data-bs-target="#addManagementUserModal" data-bs-toggle="modal">
                <i class="bx bx-add-to-queue"></i>
              </button>
              <button class="btn btn-info rounded-pill m-1 remove-management-user">
                <i class="bx bx-edit"></i>
              </button>
            </div>
          </div>
          <form method="get" name="searchManagementUser"
                onsubmit="return false;"
                th:action="@{/clients/__${OAuthClientDetailEntity.id}__/users}">
            <div class="row">
              <div class="col-sm-4">
                <input type="text" class="form-control" name="userName" placeholder="ユーザー名"
                       th:placeholder="#{page.placeholder.user.name}">
              </div>
              <div class="col-sm-2">
                <button class="btn btn-primary assigned-management-user" type="button" th:text="#{page.button.search}">
                  検索
                </button>
              </div>
            </div>
          </form>
        </div>
        <form method="post" name="removeRedirectUrl" onsubmit="return false;"
              th:action="@{/clients/__${OAuthClientDetailEntity.id}__/users/removes}"
              th:if="${!#lists.isEmpty(managementUserPage.content)}">
          <div id="managementUserContent">
            <th:block th:fragment="managementUserlPage">
              <th:block th:replace="parts/pagination::pagination(${managementUserPage})"/>
              <table class="table table-striped table-borderless assign-role-list" th:fragment="addManagementUserList">
                <thead>
                <tr>
                  <th th:text="#{page.label.user.name}">ユーザー名</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${managementUserPage.content}">
                  <td>
                    <a th:href="@{/users/__${user.id}__}" th:text="${user.name}"></a>
                  </td>
                  <td class="text-end">
                    <input type="checkbox" class="form-check-input" name="users" style="display: none"
                           th:value="${user.id}">
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-12">
                  <th:block th:replace="parts/pagination::pagination(${managementUserPage})"/>
                </div>
              </div>
            </th:block>
          </div>
          <div class="row row-unassigned" style="display: none">
            <div class="col-8">
              削除対象を選択してください。
            </div>
            <div class="col-4 text-end">
              <button class="btn btn-primary unassigned-role" th:text="#{page.button.delete}" type="button">削除
              </button>
              <button class="btn btn-light unassigned-cancel" th:text="#{page.button.cancel}" type="button">キャンセル
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </section>
  <th:block th:if="${errorCode}">
    <div th:replace="parts/alert::danger"></div>
  </th:block>
</main>
<th:block th:replace="parts/template::footer"></th:block>
<th:block th:replace="parts/static::bottom"></th:block>
<script th:src="@{/js/client.js}"></script>
<script type="text/javascript" th:inline="javascript">

    $('button.edit').on('click', function () {
        $('div.card.detail').hide();
        $('div.card.edit').show();
        $('#scope').select2();
    });
    $('button.update').on('click', function () {
        const cardEdit = $('div.card.edit');
        cardEdit.find('input').prop('disabled', false);
        $('#scope').prop("disabled", false);
    });
    function cancel() {
        $('.confirm button').disabled = false;
        $('.update').disabled = true;

        $('.edit > form').find('input').each((i, e) => {
            let v = e.dataset.before;
            if (v === undefined) {
                return true;
            }
            if (e.type === 'checkbox') {
                e.checked = JSON.parse(v);
                e.disabled = false;
            } else {
                e.value = v;
                e.disabled = false;
            }
        });
        let url = $('.edit > form').attr('action').replace('update', 'edit');
        $('.edit > form').attr('action', url);
        $('#scope').select2().val(null).trigger('change');
        $('#scope').select2().val($('#scope').data('before').split(',')).trigger('change');
        $('#scope').prop("disabled", false);
        $('div.card.detail').show();
        $('div.card.edit').hide();
    }


    $('#scope').select2();
    [# th:if= "${readOnly}"]
    $('#scope').prop("disabled", true);
    [/]
    function doSubmit() {
        $('#scope').prop("disabled", false);
    }
</script>
</body>
</html>