<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Earthly</title>
  <th:block th:replace="parts/static::head"></th:block>
</head>
<body class="sidebar-mini layout-fixed" style="height: auto">
<div class="app-wrapper">
  <th:block th:replace="parts/template::header"></th:block>
  <th:block th:replace="parts/template::navigation"></th:block>

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 th:text="#{page.title.client.detail}">OAuthクライアント詳細</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="@{/}" th:text="#{page.title.home}">Home</a></li>
              <li class="breadcrumb-item"><a th:href="@{/clients}"
                                             th:text="#{page.title.client.list}">OAuthクライアントリスト</a></li>
              <li class="breadcrumb-item active">
                <th:block th:text="${OAuthClientDetailEntity.name}"/>
              </li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card card-primary card-outline">
        <div class="card-header">
          <h3 class="card-title" th:text="${OAuthClientDetailEntity.name}">OAuthクライアント名</h3>
          <div class="card-tools" th:if="${#bools.isTrue(canEditableClient)}">
            <button type="button" class="btn btn-sm btn-primary edit" th:title="#{page.button.title.edit}"
                    data-target="#edit" data-toggle="modal">
              <i class="fas fa-user-edit"></i>
            </button>
            <button type="button" class="btn btn-sm btn-danger delete" th:title="#{page.button.title.delete}"
                    data-target="#delete" data-toggle="modal">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-lg-3 col-md-4 label" th:text="#{page.label.client.grantType}">付与タイプ</div>
            <div class="col-lg-9 col-md-8">
              <th:block th:each="grantType:${OAuthClientDetailEntity.grantTypes}">
                <th:block th:if="${grantTypeStat.first}" th:text="${grantType.type}"></th:block>
                <th:block th:unless="${grantTypeStat.first}">
                  &nbsp;<th:block th:text="${grantType.type}"></th:block>
                </th:block>
              </th:block>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-3 col-md-4 label" th:text="#{page.label.client.scope}">スコープ</div>
            <div class="col-lg-9 col-md-8">
              <th:block th:each="scope:${T(jp.co.project.planets.earthly.schema.emuns.Scope).values()}">
                <th:block th:if="${#lists.contains(OAuthClientDetailEntity.scopes(), scope.id)}"
                          th:text="${#strings.append(scope.name, ' ')}"></th:block>
              </th:block>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-3 col-md-4 label" th:text="#{page.label.client.id}">クライアントID</div>
            <div class="col-lg-9 col-md-8">
              <th:block th:text="${OAuthClientDetailEntity.clientId}">client ID</th:block>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-3 col-md-4 label" th:text="#{page.label.client.secret}">シークレット</div>
            <div class="col-lg-9 col-md-8">
              <th:block th:text="${OAuthClientDetailEntity.secret}">シークレット</th:block>
            </div>
          </div>
        </div>
        <!-- /.card-footer-->
      </div>
      <!-- /.card -->
      <hr>

      <!-- リダイレクトURIリスト -->
      <div class="card card-primary card-outline">
        <div class="card-header">
          <h3 class="card-title" th:text="#{page.label.client.list.redirect.uri}">リダイレクトURIリスト</h3>
          <div class="card-tools" th:if="${#bools.isTrue(canEditableClient)}">
            <button type="button" class="btn btn-sm btn-primary add-redirect-uri" th:title="#{page.button.title.add}"
                    data-target="#addRedirectUri" data-toggle="modal">
              <i class="fas fa-plus"></i>
            </button>
            <button type="button" class="btn btn-sm btn-danger remove-redirect-uri"
                    th:title="#{page.button.title.remove}">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </div>
        <div class="card-body card-default">
          <form method="get" name="searchRedirectUri" onsubmit="return false;"
                th:action="@{/clients/__${OAuthClientDetailEntity.id}__/redirect-uris}">
            <input type="hidden" name="isRemoveMode" value="false">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="logoutRedirectUrl" th:text="#{page.label.client.redirect.uri}"
                         style="margin-bottom: .1rem">リダイレクトURI</label>
                  <input type="text" class="form-control" name="redirectUri" placeholder="リダイレクトURI"
                       th:placeholder="#{page.placeholder.client.redirect.uri}">
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <button type="button" class="btn btn-primary btn-sm search-redirect-uri">
                <i class="fas fa-search"></i>
                <th:block th:text="#{page.button.search}">検索</th:block>
              </button>
            </div>
          </form>
        </div>
        <form method="post" name="removeRedirectUri" onsubmit="return false;"
              th:action="@{/clients/__${OAuthClientDetailEntity.id}__/redirect-uris/remove}"
              th:if="${!#lists.isEmpty(redirectUriPage.content)}">
          <div class="card-body card-default">
            <div id="redirectUriContent">
              <th:block th:fragment="redirectUriPage">
                <th:block th:replace="parts/pagination::pagination(${redirectUriPage})"/>
                <table class="table table-sm table-striped redirect-url-list"
                       th:fragment="addRedirectUriList">
                  <thead>
                  <tr>
                    <th th:text="#{page.label.client.redirect.uri}">リダイレクトURL</th>
                    <th>&nbsp;</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="redirectUri : ${redirectUriPage.content}">
                    <td th:text="${redirectUri.redirectUrl}">
                    </td>
                    <td class="text-right">
                      <input type="checkbox" class="form-check-input" name="redirectUriIds"
                             th:styleappend="${#bools.isFalse(OAuthClientRedirectUrlSearchForm.isRemoveMode)}?'display: none'"
                             th:value="${redirectUri.id}">
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div class="row">
                  <div class="col-12">
                    <th:block th:replace="parts/pagination::pagination(${redirectUriPage})"/>
                  </div>
                </div>
              </th:block>
            </div>
          </div>
          <div class="card-footer row-unassigned" style="display: none; ">
            <div class="row">
              <div class="col-sm-8" th:text="#{page.panel.unassigned.message}">
                削除対象を選択してください。
              </div>
              <div class="col-sm-4 text-right">
                <button type="button" class="btn btn-primary remove-redirect-uri" th:text="#{page.button.delete}">削除
                </button>
                <button type="button" class="btn btn-light btn-outline-dark remove-redirect-uri-cancel"
                        th:text="#{page.button.cancel}">
                  キャンセル
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <hr>

      <!-- ログアウトリダイレクトURIリスト -->
      <div class="card card-primary card-outline">
        <div class="card-header">
          <h3 class="card-title" th:text="#{page.label.client.list.logout.redirect.uri}">
            ログアウトリダイレクトURIリスト</h3>
          <div class="card-tools" th:if="${#bools.isTrue(canEditableClient)}">
            <button type="button" class="btn btn-sm btn-primary add-logout-redirect-uri"
                    th:title="#{page.button.title.add}" data-target="#addLogoutRedirectUri" data-toggle="modal">
              <i class="fas fa-plus"></i>
            </button>
            <button type="button" class="btn btn-sm btn-danger remove-logout-redirect-uri"
                    th:title="#{page.button.title.remove}">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </div>
        <div class="card-body card-default">
          <form method="get" name="searchLogoutRedirectUri" onsubmit="return false;"
                th:action="@{/clients/__${OAuthClientDetailEntity.id}__/logout-redirect-uris}">
            <input type="hidden" name="isRemoveMode" value="false">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="logoutRedirectUrl" th:text="#{page.label.client.list.logout.redirect.uri}"
                         style="margin-bottom: .1rem">ログアウトリダイレクトURI</label>
                  <input type="text" class="form-control" id="logoutRedirectUrl" name="logoutRedirectUrl"
                         placeholder="ログアウトリダイレクトURI" th:placeholder="#{page.label.client.logout.redirect.uri}">
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <button type="button" class="btn btn-primary btn-sm search-logout-redirect-uri">
                <i class="fas fa-search"></i>
                <th:block th:text="#{page.button.search}">検索</th:block>
              </button>
            </div>
          </form>
        </div>
        <form method="post" name="removeLogoutRedirectUri" onsubmit="return false;"
              th:action="@{/clients/__${OAuthClientDetailEntity.id}__/logout-redirect-uris/remove}"
              th:if="${!#lists.isEmpty(logoutRedirectUriPage.content)}">
          <div class="card-body card-default">
            <div id="logoutRedirectUriContent">
              <th:block th:fragment="logoutRedirectUriPage">
                <th:block th:replace="parts/pagination::pagination(${logoutRedirectUriPage})"/>
                <table class="table table-sm table-striped logout-redirect-uri-list"
                       th:fragment="logoutRedirectUrlList">
                  <thead>
                  <tr>
                    <th th:text="#{page.label.client.redirect.uri}">ログアウトリダイレクトURI</th>
                    <th>&nbsp;</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="logoutRedirectUri : ${logoutRedirectUriPage.content}">
                    <td th:text="${logoutRedirectUri.redirectUrl}">
                    </td>
                    <td class="text-right">
                      <input type="checkbox" class="form-check-input" name="logoutRedirectUriIds"
                             th:value="${logoutRedirectUri.id}"
                             th:styleappend="${#bools.isFalse(OAuthClientLogoutRedirectUrlSearchForm.isRemoveMode)}?'display: none'">
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div class="row">
                  <div class="col-12">
                    <th:block th:replace="parts/pagination::pagination(${logoutRedirectUriPage})"/>
                  </div>
                </div>
              </th:block>
            </div>
          </div>
          <div class="card-footer row-unassigned" style="display: none; ">
            <div class="row">
              <div class="col-8">
                削除対象を選択してください。
              </div>
              <div class="col-4 text-right">
                <button type="button" class="btn btn-primary remove-logout-redirect-uri"
                        th:text="#{page.button.delete}">
                  削除
                </button>
                <button type="button" class="btn btn-light btn-outline-dark remove-logout-redirect-uri-cancel"
                        th:text="#{page.button.cancel}">
                  キャンセル
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <hr>

      <!-- OAuthクライアント管理ユーザー -->
      <div class="card card-primary card-outline">
        <div class="card-header">
          <h3 class="card-title" th:text="#{page.label.client.list.management.user}">管理ユーザーリスト</h3>
          <div class="card-tools" th:if="${#bools.isTrue(canEditableClient)}">
            <button type="button" class="btn btn-sm btn-primary add-management-user"
                    th:title="#{page.button.title.assign}"
                    data-target="#addManagementUser" data-toggle="modal">
              <i class="fas fa-edit"></i>
            </button>
            <button type="button" class="btn btn-sm btn-danger remove-management-user"
                    th:title="#{page.button.title.unassigned}">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </div>
        <div class="card-body card-default">
          <form method="get" name="searchManagementUser" onsubmit="return false;"
                th:action="@{/clients/__${OAuthClientDetailEntity.id}__/management-users}">
            <input type="hidden" name="isRemoveMode" value="false">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="userName" th:text="#{page.label.user.name}"
                         style="margin-bottom: .1rem">ユーザー名</label>
                  <input type="text" class="form-control" id="userName" name="userName" placeholder="ユーザー名"
                         th:placeholder="#{page.placeholder.user.name}">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="companyName" th:text="#{page.label.user.company}"
                         style="margin-bottom: .1rem">所属会社</label>
                  <input type="text" class="form-control" id="companyName" name="companyName" placeholder="所属会社"
                         th:placeholder="#{page.placeholder.user.company}">
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <button type="button" class="btn btn-primary btn-sm search-management-user">
                <i class="fas fa-search"></i>
                <th:block th:text="#{page.button.search}">検索</th:block>
              </button>
            </div>
          </form>
        </div>
        <form method="post" name="removeManagementUser" onsubmit="return false;"
              th:action="@{/clients/__${OAuthClientDetailEntity.id}__/management-users/unassigns}"
              th:if="${!#lists.isEmpty(managementUserPage.content)}">
          <div class="card-body card-default">
            <div id="managementUserContent">
              <th:block th:fragment="managementUserPage">
                <th:block th:replace="parts/pagination::pagination(${managementUserPage})"/>
                <table class="table table-sm table-striped add-management-user-list"
                       th:fragment="addManagementUserList">
                  <thead>
                  <tr>
                    <th th:text="#{page.label.user.name}">ユーザー名</th>
                    <th th:text="#{page.label.user.company}">所属会社</th>
                    <th>&nbsp;</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="user : ${managementUserPage.content}">
                    <td>
                      <a th:href="@{/users/__${user.userId}__}" th:text="${user.userName}"></a>
                    </td>
                    <td>
                      <a th:href="@{/companies/__${user.companyId}__}" th:text="${user.companyName}">所属会社</a>
                    </td>
                    <td class="text-right">
                      <input type="checkbox" class="form-check-input" name="userId" th:value="${user.userId}"
                             th:styleappend="${#bools.isFalse(OAuthClientManagementUserSearchForm.isRemoveMode)}?'display: none'">
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div class="row">
                  <div class="col-12">
                    <th:block th:replace="parts/pagination::pagination(${managementUserPage})"/>
                  </div>
                </div>
              </th:block>
            </div>
          </div>
          <div class="card-footer row-unassigned" style="display: none; ">
            <div class="row">
              <div class="col-8">
                削除対象を選択してください。
              </div>
              <div class="col-4 text-right">
                <button type="button" class="btn btn-primary remove-management-user" th:text="#{page.button.delete}">
                  削除
                </button>
                <button type="button" class="btn btn-light btn-outline-dark remove-management-user-cancel"
                        th:text="#{page.button.cancel}">
                  キャンセル
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>
</body>
<div th:replace="clients/modal::edit(${OAuthClientDetailEntity}, ${OAuthClientEditForm})"></div>
<div th:replace="clients/modal::confirm(${OAuthClientDetailEntity.id}, ${OAuthClientEditForm})"></div>
<div th:replace="clients/modal::delete(${OAuthClientDetailEntity.id})"></div>
<div th:replace="clients/modal::addRedirectUri(${OAuthClientDetailEntity.id}, ${OAuthClientRedirectUrlAddForm})"></div>
<div th:replace="clients/modal::addLogoutRedirectUri(${OAuthClientDetailEntity.id})"></div>
<div th:replace="clients/modal::addManagementUser(${OAuthClientDetailEntity.id})"></div>
<th:block th:if="${errorCode}">
  <div th:replace="parts/toast::danger"></div>
</th:block>

<th:block th:replace="parts/template::footer"></th:block>
<th:block th:replace="parts/static::bottom"></th:block>
<script th:src="@{/js/client.js}"></script>
<script th:src="@{/js/detail.js}"></script>
<script th:replace="parts/badge::notice"></script>
<script type="text/javascript" th:inline="javascript">


    $('#scope').select2();

    $('.search-redirect-uri').on('click', () => postSearch('searchRedirectUri', 'redirectUriContent'));

    $('.btn.add-redirect-uri').on('click', () => {
        $('form.add-redirect-uri .form-control').val(null);
    });

    $('.btn.add-logout-redirect-uri').on('click', () => {
        $('form.add-logout-redirect-uri .form-control').val(null);
    });

    $('.search-logout-redirect-uri').on('click', () => postSearch('searchLogoutRedirectUri', 'logoutRedirectUriContent'));
    $('.search-unassigned-management-user').on('click', () => postSearch('searchUnassignedManagementUser', 'unassignedManagementUser'));
    $('.search-management-user').on('click', () => postSearch('searchGrantedUser', 'managementUserContent'));

    $('#addManagementUser').on('show.bs.modal', () => {
        $('.search-unassigned-management-user').trigger('click');
    });


    function cancelAddRedirectUrl() {
        $('form.add-redirect-uri .form-control').each((i, e) => {
            e.value = '';
        });
    }

    $('.remove-redirect-uri').on('click', () => {
        showRemoveCard('redirectUriIds', 'removeRedirectUri');
    });

    $('.remove-redirect-uri-cancel').on('click', () => {
        hideRemoveCard('redirectUrlIds', 'removeRedirectUri');
    });

    $('.btn.btn-primary.remove-redirect-uri').on('click', () => {
        const form = $('form[name=removeRedirectUri]');
        const body = form.serialize();
        const url = form.attr('action');
        const token = form.find('input[name=_csrf]').val();
        let deferred = doPost(url, "application/x-www-form-urlencoded", token, body);
        deferred.done(function (data, response) {
            $("body").append(data);
            const searchForm = $('form[name=searchRedirectUri]');
            searchForm.find('input').each((i, e) => {
                e.disabled = false;
            });
            $('.search-redirect-uri').trigger('click');
            searchForm.find('input').each((i, e) => {
                e.disabled = true;
            });
        });
        deferred.fail(function (data, response) {
            console.error(data);
            window.location.href = "/earthly/error";
        });
    });

    $('#addLogoutRedirectUri').on('hidden.bs.modal', function (e) {
        $('form.add-logout-redirect-uri .form-control').each((i, e) => {
            e.value = '';
        });
    });


    $('.remove-logout-redirect-uri').on('click', () => {
        showRemoveCard('logoutRedirectUriIds', 'removeLogoutRedirectUri');
    });

    $('.remove-logout-redirect-uri-cancel').on('click', () => {
        hideRemoveCard('logoutRedirectUriIds', 'removeLogoutRedirectUri');
    });

    $('.btn.btn-primary.remove-logout-redirect-uri').on('click', () => {
        const form = $('form[name=removeLogoutRedirectUri]');
        const body = form.serialize();
        const url = form.attr('action');
        const token = form.find('input[name=_csrf]').val();
        let deferred = doPost(url, "application/x-www-form-urlencoded", token, body);
        deferred.done(function (data, response) {
            $("body").append(data);
            const searchForm = $('form[name=searchLogoutRedirectUri]');
            searchForm.find('input').each((i, e) => {
                e.disabled = false;
            });
            $('.search-logout-redirect-uri').trigger('click');
            searchForm.find('input').each((i, e) => {
                e.disabled = true;
            });
        });
        deferred.fail(function (data, response) {
            console.error(data);
            window.location.href = "/earthly/error";
        });
    });

    $('.assign-management-user').on('click', () => {
        const form = $('form[name=assignManagementUser]');
        const body = form.serialize();
        const url = form.attr('action');
        const token = form.find('input[name=_csrf]').val();
        let deferred = doPost(url, "application/x-www-form-urlencoded", token, body);
        deferred.done(function (data, response) {
            $("body").append(data);
            $('.search-unassigned-management-user').trigger('click');
            $('.search-management-user').trigger('click');
            $('.btn.assign-management-user').prop('disabled', true);
        });
        deferred.fail(function (data, response) {
            console.error(data);
            window.location.href = "/earthly/error";
        });
    });

    function activeManagementUserAssignButton() {
        $('.btn.assign-management-user').prop('disabled', true);
        $('input[name=userId].assign-management-user').each((i, e) => {
            if (e.checked) {
                $('.btn.assign-management-user').prop('disabled', false);
            }
        });
    }

    $('.remove-management-user').on('click', () => {
        showRemoveCard('userId', 'removeManagementUser');
    });

    $('.remove-management-user-cancel').on('click', () => {
        hideRemoveCard('userId', 'removeManagementUser');
    });
    $('.btn.btn-primary.remove-management-user').on('click', () => {
        const form = $('form[name=removeManagementUser]');
        const body = form.serialize();
        const url = form.attr('action');
        const token = form.find('input[name=_csrf]').val();
        let deferred = doPost(url, "application/x-www-form-urlencoded", token, body);
        deferred.done(function (data, response) {
            $("body").append(data);
            const searchForm = $('form[name=searchManagementUser]');
            searchForm.find('input').each((i, e) => {
                e.disabled = false;
            });
            $('.search-management-user').trigger('click');
            searchForm.find('input').each((i, e) => {
                e.disabled = true;
            });
        })
    });

</script>
<script th:inline="javascript" th:if="${editModal}">
    $(function () {
        $('#edit').modal('show')
    });
</script>
<script th:inline="javascript" th:if="${readOnly}">
    $(function () {
        $('#confirm').modal('show')
    });
    $('#confirm').on('hidden.bs.modal', function (e) {
        cancel();
    });
</script>
<script th:inline="javascript" th:if="${isAddRedirectUri}">
    $(function () {
        $('#addRedirectUri').modal('show')
    });
</script>
<script th:inline="javascript" th:if="${isAddLogoutRedirectUri}">
    $(function () {
        $('#addLogoutRedirectUri').modal('show')
    });
</script>
</html>