<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Earthly Login</title>
  <th:block th:replace="parts/static::head"></th:block>
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a th:href="@{/login}">Earthly</a>
  </div>
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">ログインIDとパスワードを入力してください。</p>
      <div style="color: #dc3545" th:if="${session.exception}" th:text="#{exception.login.failed}">
        ユーザーIDまたは、パスワードが誤っています。
      </div>
      <form th:action="@{/login}" method="post">
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="loginId" placeholder="ログインID">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" name="password" placeholder="パスワード">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">
                Remember Me
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">ログイン</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
  </div>
</div>
<th:block th:replace="parts/static::bottom"></th:block>
</body>
</html>